.ntf-item {
	// border: 1px solid red;
	// user-select: none;
	position: relative;
	display: grid;
	grid-template-columns: 64px auto 40px;
	margin: 3px 3px;
	min-height: 50px;
	background-color: white;
	transition: background-color 0.2s;
	// z-index: 3;
	&:hover .ntf-grad .ntf-grad-line {
		width: 90%;
	}

	.ntf-grad {
		// z-index: 1;
		position: absolute;

		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		bottom: -1px;

		.ntf-grad-line {
			width: 0%;
			height: 1px;
			transition: 0.2s;
			margin: 0 auto;
			background: linear-gradient(
				90deg,
				rgba(0, 181, 136, 0) 0%,
				rgba(56, 181, 87, 0.6) 20%,
				rgba(56, 181, 87, 0.6) 80%,
				rgba(0, 255, 218, 0) 100%
			);
		}
	}
	img {
		height: 50px;
	}
	.middle {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		.main-text {
			// margin-top: 3px;
			margin-left: 10px;
		}
		.under {
			color: grey;
			font-size: 0.8rem;

			.date {
				margin-left: 10px;
				margin-bottom: 3px;
			}
		}
	}
	.last {
		// border: 1px solid red;
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			font-size: 24px;
			display: block;
			margin-bottom: 10px;
		}
		.delete {
			color: darkred;
			position: absolute;
			bottom: 0;
			display: block;
			font-size: 0.8rem;
			opacity: 0;
			transition: 0.1s;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
				// opacity: 1;
				transition: 0.1s;
			}
		}
		&:hover .delete {
			opacity: 0.8;
		}
	}
	// &:hover {
	// 	box-shadow: 0 0 1px 1px lightgray;
	// 	transition: background-color 0.2s;
	// }
}

.unseen {
	background-color: rgb(203, 230, 247);
}
