.ntf-item {
  user-select: none;
  position: relative;
  display: grid;
  grid-template-columns: 64px auto 40px;
  margin: 3px 3px;
  min-height: 50px;
  background-color: white;
  transition: background-color 0.2s;
}

.ntf-item:hover .ntf-grad .ntf-grad-line {
  width: 90%;
}

.ntf-item .ntf-grad {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: -1px;
}

.ntf-item .ntf-grad .ntf-grad-line {
  width: 0%;
  height: 1px;
  transition: 0.2s;
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(0, 181, 136, 0) 0%, rgba(56, 181, 87, 0.6) 20%, rgba(56, 181, 87, 0.6) 80%, rgba(0, 255, 218, 0) 100%);
}

.ntf-item img {
  height: 50px;
}

.ntf-item .middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ntf-item .middle .main-text {
  margin-left: 10px;
}

.ntf-item .middle .under {
  color: grey;
  font-size: 0.8rem;
}

.ntf-item .middle .under .date {
  margin-left: 10px;
  margin-bottom: 3px;
}

.ntf-item .last {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ntf-item .last i {
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

.ntf-item .last .delete {
  color: darkred;
  position: absolute;
  bottom: 0;
  display: block;
  font-size: 0.8rem;
  opacity: 0;
  transition: 0.1s;
}

.ntf-item .last .delete:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.1s;
}

.ntf-item .last:hover .delete {
  opacity: 0.8;
}

.unseen {
  background-color: #cbe6f7;
}
