.ntf-item {
  position: relative;
  display: grid;
  grid-template-columns: 64px auto 35px;
  min-height: 50px;
  overflow: hidden;
  transition: background-color 0.2s;
}

.ntf-item:hover {
  background: linear-gradient(90deg, #d7e4e4 10%, #dcfafa 100%);
  cursor: pointer;
}

.ntf-item:hover .last .dot {
  opacity: 0.5;
}

.ntf-item:hover .last .delete-icon {
  opacity: 0.5;
}

.ntf-item img {
  height: 50px;
}

.ntf-item .middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ntf-item .middle .main-text {
  margin-left: 10px;
}

.ntf-item .middle .main-text .ntf2-user-span {
  font-weight: 500;
  color: #333333;
}

.ntf-item .middle .main-text .ntf2-user-msgtext {
  margin-left: 5px;
  font-size: 1rem;
}

.ntf-item .middle .under {
  color: grey;
  font-size: 0.8rem;
}

.ntf-item .middle .under .date {
  margin-left: 10px;
  margin-bottom: 3px;
}

.ntf-item .last {
  width: 30px;
  display: flex;
  align-items: center;
}

.ntf-item .last .fa-exclamation {
  font-size: 18px;
  display: block;
  margin-left: 3px;
  color: gray;
  background: linear-gradient(300deg, #ff0909 0%, #f73b3b 59%, #fac564 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ntf-item .last .dot {
  position: absolute;
  font-size: 3rem;
  right: 5px;
  color: #888888;
  opacity: 0;
  display: none;
  bottom: 30px;
}

.ntf-item .last .dot:hover {
  opacity: 0.8;
}

.ntf-item .last .delete-icon {
  z-index: 9;
  opacity: 0.5;
  position: absolute;
  color: #888888;
  right: 7px;
  bottom: 20px;
  font-size: 0.9rem;
}

.ntf-item .last .delete-icon:hover {
  opacity: 0.8;
}

.unseen {
  background-color: #cbe6f7;
  background: linear-gradient(90deg, #dfe6e6 10%, #e8ffff 100%);
}
