.ntf-item {
	// border: 1px solid red;
	// user-select: none;
	position: relative;
	display: grid;
	grid-template-columns: 64px auto 35px;
	// margin: 3px 3px;
	min-height: 50px;
	overflow: hidden;
	// background: linear-gradient(
	// 	90deg,
	// 	rgb(223, 230, 230) 10%,
	// 	rgb(232, 255, 255) 100%
	// );
	transition: background-color 0.2s;
	// z-index: 3;
	&:hover {
		// background: linear-gradient(
		// 	90deg,
		// 	rgb(215, 228, 228) 10%,
		// 	rgb(220, 250, 250) 100%
		// );
		cursor: pointer;
	}
	&:hover .last .dot {
		// display: block;
		opacity: 0.5;
	}
	&:hover .last .delete-icon {
		// display: block;
		opacity: 0.5;
	}

	img {
		height: 50px;
	}
	.middle {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		.main-text {
			// margin-top: 3px;
			margin-left: 10px;
			.ntf2-user-span {
				font-weight: 500;
				color: rgb(51, 51, 51);
			}
			.ntf2-user-msgtext {
				margin-left: 5px;
				font-size: 1rem;
			}
		}
		.under {
			color: grey;
			font-size: 0.8rem;

			.date {
				margin-left: 10px;
				margin-bottom: 3px;
			}
		}
	}
	.last {
		width: 30px;
		// border: 1px solid red;
		display: flex;
		align-items: center;
		.fa-exclamation {
			font-size: 18px;
			display: block;
			margin-left: 3px;
			color: gray;
			background: linear-gradient(
				300deg,
				rgb(255, 9, 9) 0%,
				rgb(247, 59, 59) 59%,
				rgb(250, 197, 100) 100%
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.dot {
			// border: 1px solid black;
			position: absolute;
			font-size: 3rem;
			right: 5px;
			color: rgb(136, 136, 136);
			opacity: 0;
			display: none;
			bottom: 30px;
			&:hover {
				opacity: 0.8;
			}
		}
		.delete-icon {
			z-index: 9;
			// border: 1px solid black;
			opacity: 0.5;
			// display: none;
			position: absolute;
			color: rgb(136, 136, 136);
			right: 7px;
			bottom: 20px;
			font-size: 0.9rem;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	// &:hover {
	// 	box-shadow: 0 0 1px 1px lightgray;
	// 	transition: background-color 0.2s;
	// }
}

.unseen {
	// background-color: rgb(203, 230, 247);
	// background: linear-gradient(
	// 	90deg,
	// 	rgb(223, 230, 230) 10%,
	// 	rgb(232, 255, 255) 100%
	// );
}
