.ntf-news {
	position: absolute;
	top: -20px;
	right: 25px;
	height: 42px;
	width: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: white;
	box-shadow: grey 0 0 4px;
	z-index: 12;
	cursor: pointer;

	.counter {
		position: absolute;
		top: -10px;
		right: -12px;
		width: 24px;
		height: 20px;
		border-radius: 5px;
		background-color: grey;
		color: white;
		// display: flex;
		// align-items: center;
		// justify-content: center;

		font-size: 12px;
		font-weight: bold;
		text-align: center;
	}
	.red {
		background-color: rgb(219, 40, 40);
	}

	.ntf-news-icon {
		margin: auto;
		font-size: 0.8rem;
	}
	&:hover {
		background-color: rgb(247, 247, 247);
	}
}
