.ntf-news {
  position: absolute;
  top: -20px;
  right: 35px;
  height: 42px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: grey 0 0 4px;
  z-index: 12;
  cursor: pointer;
}

.ntf-news .counter {
  position: absolute;
  top: -10px;
  right: -12px;
  width: 24px;
  height: 20px;
  border-radius: 5px;
  background-color: grey;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.ntf-news .red {
  background-color: #db2828;
}

.ntf-news .ntf-news-icon {
  margin: auto;
  font-size: 0.8rem;
}

.ntf-news:hover {
  background-color: #f7f7f7;
}
