.ntf-panel {
	overflow: hidden;
	right: 0px;
	position: absolute;
	width: 400px;
	// height: 100px;
	z-index: 10;
	// border: 1px solid red;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: grey 0 0 4px;
	.top-sec {
		position: relative;
		border-bottom: 1px solid grey;
		height: 48px;
		display: flex;
		align-items: center;
		> span {
			margin-left: 20px;
			display: block;
			font-size: 1.2rem;
			font-weight: bold;
		}
		.actions {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border: 1px solid red;
			height: 100%;
			width: 120px;
			right: 0;
			&:hover span {
				opacity: 0.7;
				transition: 0.1s;
			}
			&:hover .dots {
				opacity: 0;
				transition: 0.1s;
			}
			.dots {
				font-size: 0.8rem;
				margin-right: 8px;
				opacity: 0.7;
				transition: 0.1s;
			}
			span {
				position: absolute;
				font-size: 0.8rem;
				opacity: 0;
				transition: 0.1s;
				&:hover {
					// transition: 0.1s;
					text-decoration: underline;
					cursor: pointer;
				}
			}
			.del {
				bottom: 0;
				left: 10px;
			}
			.seen {
				bottom: 0;
				right: 5px;
			}
		}
	}
	.middle {
	}
}
