.ntf-panel {
	overflow: hidden;
	right: 0px;
	position: absolute;
	width: 400px;
	z-index: 10;
	background-color: white;
	box-shadow: grey 0 0 4px;
}

.ntf-panel .top-sec {
	position: relative;
	border-bottom: 1px solid rgb(172, 172, 172);
	height: 55px;
	display: flex;
	align-items: center;
	// border: 1px solid red;

	.actions-box {
		// border: 1px solid black;
		width: 200px;
		height: 100%;
		margin-left: auto;
		display: flex;
		align-items: flex-end;
		justify-content: space-around;
		padding: 0 15px;
		.action-span {
			font-weight: 400;
			font-size: 0.8rem;
			color: rgb(180, 180, 180);
			&:hover {
				cursor: pointer;
				text-decoration: underline;
				color: rgb(90, 90, 90);
			}
		}
		.dot-span {
			font-weight: 900;
			color: rgb(160, 160, 160);
		}
	}
}

.ntf-panel .top-sec > span {
	margin-left: 20px;
	display: block;
	font-size: 1.2rem;
	font-weight: 500;
	color: #3c3c3c;
}

.ntf-panel .top-sec .actions {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: 120px;
	right: 0;
}

.ntf-panel .top-sec .actions:hover span {
	opacity: 0.7;
	transition: 0.1s;
}

.ntf-panel .top-sec .actions:hover .dots {
	opacity: 0;
	transition: 0.1s;
}

.ntf-panel .top-sec .actions .dots {
	font-size: 0.8rem;
	margin-right: 8px;
	opacity: 0.7;
	transition: 0.1s;
}

.ntf-panel .top-sec .actions span {
	position: absolute;
	font-size: 0.8rem;
	opacity: 0;
	transition: 0.1s;
}

.ntf-panel .top-sec .actions span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.ntf-panel .top-sec .actions .del {
	bottom: 0;
	left: 10px;
}

.ntf-panel .top-sec .actions .seen {
	bottom: 0;
	right: 5px;
}

.ntf-panel .middle {
	// border: 1px solid red;
	position: relative;
	.empty {
		width: 100%;
		margin: 20px 0;
		text-align: center;
		color: gray;
	}
}

.ntf-panel .middle .scroll-bar > div:nth-child(1) {
	overflow-y: auto !important;
	overflow-x: hidden !important;
	/* padding-bottom: 20px; */
	position: relative;
}

.ntf-panel .middle .scroll-bar > div:nth-child(2) {
	display: none !important;
}

.ntf-panel .middle .scroll-bar > div:nth-child(3) {
	display: none !important;
}

@media (max-width: 768px) {
	.ntf-panel {
		width: 100%;
	}
}
