.ntf-panel {
	overflow: hidden;
	right: 10px;
	position: absolute;
	width: 400px;
	z-index: 10;
	background-color: white;
	border-radius: 5px;
	box-shadow: grey 0 0 4px;
}

.ntf-panel .top-sec {
	position: relative;
	border-bottom: 1px solid grey;
	height: 48px;
	display: flex;
	align-items: center;
}

.ntf-panel .top-sec > span {
	margin-left: 20px;
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
}

.ntf-panel .top-sec .actions {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border: 1px solid red;
	height: 100%;
	width: 120px;
	right: 0;
}

.ntf-panel .top-sec .actions:hover span {
	opacity: 0.7;
	transition: 0.1s;
}

.ntf-panel .top-sec .actions:hover .dots {
	opacity: 0;
	transition: 0.1s;
}

.ntf-panel .top-sec .actions .dots {
	font-size: 0.8rem;
	margin-right: 8px;
	opacity: 0.7;
	transition: 0.1s;
}

.ntf-panel .top-sec .actions span {
	position: absolute;
	font-size: 0.8rem;
	opacity: 0;
	transition: 0.1s;
}

.ntf-panel .top-sec .actions span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.ntf-panel .top-sec .actions .del {
	bottom: 0;
	left: 10px;
}

.ntf-panel .top-sec .actions .seen {
	bottom: 0;
	right: 5px;
}
