.acc-body {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	border: 1px solid black;

	.top {
		position: relative;
		margin: 10px;
		border: 1px solid red;
		border-radius: 20px;
		overflow: hidden;
		display: grid;
		grid-template-columns: minmax(100px, 700px) auto;

		.img-div {
			z-index: 1;
			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			// border: 1px solid white;
			border-radius: 20px;

			// height: 525px;
			img {
				max-width: 150%;
				max-height: 150%;
				transition: 0.3s;
				&:hover {
					cursor: pointer;
					transform: scale(1.2);
					transition: 0.3s;
				}
			}

			&:hover {
				cursor: pointer;
				// transform: scale(2);
			}
		}
		.info-div {
			// background-color: lightgray;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 0 15px;
			.not-verified {
				// border: 1px solid red;
				margin-bottom: 10px;
				p {
					margin: 0;
				}
				input {
					// letter-spacing: 0.06rem;
					height: 40px;
					// width: 100%;
					padding-left: 10px;
					// font-size: 1.2rem;
					border: none;
					border-bottom: 1px solid rgba(14, 46, 43, 0);
					transition: 0.1s;

					&:focus {
						border-bottom: 1px solid rgba(14, 46, 43, 1);
						transition: 0.2s;
						outline: none;
					}
				}
				button {
				}
				.submitMsg {
					margin-top: 5px;
					font-size: 0.9rem;
				}
			}
			.userName {
				font-size: 2rem;
				font-weight: bold;
				// margin-bottom: 15px;
				// border: 1px solid red;
				&:hover {
					cursor: pointer;
				}
			}
			.line {
				width: 100%;
				border-bottom: 1px solid black;
			}
			.show-online {
				margin-top: 10px;
				display: flex;
				align-items: center;
				span {
					margin-right: 5px;
				}
			}
			.show-online {
				// border: 1px solid red;
				display: flex;
				.checkbox {
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		.email {
			grid-column: 1/3;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// width: 100%;
			// border: 1px solid blue;
		}
	}
	.bottom {
		position: relative;
		margin: 10px;
		.bottom-market {
			// border: 1px solid red;
			// border-radius: 20px;
			overflow: hidden;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
			// grid-gap: 5px;
		}
	}
	.delete-acc {
		margin: 70px 0 20px 10px;
		// position: absolute;
		// bottom: 10px;
		// align-self: flex-end;
		// border: 1px solid black;
		.del-acc-btn {
			color: white;
			background-color: rgb(221, 24, 37);
			padding: 7px 15px;
			border: 1px solid black;
			&:hover {
				cursor: pointer;
			}
			&:focus {
				outline: none;
				border: 1px solid black;
			}
		}
		.del-acc-btn-no {
			margin-left: 10px;
			border: none;
			background-color: rgba(221, 24, 37, 0);
			color: black;
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		input {
			border: none;
			height: 30px;
			&:focus {
				outline: none;
			}
		}
	}
	.gridtc {
		// display: none;
		grid-template-columns: 1fr;
		.none {
			display: none;
		}
	}

	.crop {
		border: 2px solid blue;
		height: 300px;
	}
}

////////////// GLOBAL
.pass {
	color: rgba(14, 46, 43, 1);
}
.fail {
	color: rgb(221, 24, 37);
}
