.acc-body {
  position: relative;
  overflow: hidden;
}

.acc-body .top {
  position: relative;
  margin: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(100px, 700px) auto;
}

.acc-body .top .img-div {
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acc-body .top .img-div img {
  max-width: 150%;
  max-height: 150%;
  transition: 0.3s;
}

.acc-body .top .img-div img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
}

.acc-body .top .img-div:hover {
  cursor: pointer;
}

.acc-body .top .info-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px;
}

.acc-body .top .info-div .ribon {
  opacity: 0.8;
  top: -20px;
  right: -200px;
  z-index: -1;
  position: absolute;
  font-size: 40rem;
  background: linear-gradient(300deg, #ff7809 0%, #ffc400 59%, #ffe819 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.acc-body .top .info-div .not-verified {
  margin-bottom: 10px;
}

.acc-body .top .info-div .not-verified input {
  height: 40px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid rgba(14, 46, 43, 0);
  transition: 0.1s;
}

.acc-body .top .info-div .not-verified input:focus {
  transition: 0.2s;
  outline: none;
}

.acc-body .top .info-div .not-verified .submitMsg {
  margin-top: 5px;
  font-size: 0.9rem;
}

.acc-body .top .info-div .userName {
  color: #303030;
  font-size: 2rem;
  font-weight: 600;
}

.acc-body .top .info-div .settings-divider {
  display: flex;
  align-items: center;
}

.acc-body .top .info-div .settings-divider .icon {
  color: rgba(48, 48, 48, 0.8);
  margin-right: 5px;
}

.acc-body .top .info-div .settings-divider .line {
  width: 100%;
  height: 1px;
  background-color: rgba(48, 48, 48, 0.8);
}

.acc-body .top .info-div .show-online {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.acc-body .top .info-div .show-online span {
  margin-right: 5px;
}

.acc-body .top .info-div .show-online {
  display: flex;
}

.acc-body .top .info-div .show-online .checkbox:hover {
  cursor: pointer;
}

.acc-body .top .email {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acc-body .top .email button {
  height: 30px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  background-color: #5981b6;
}

.acc-body .top .email button:active {
  border: none;
}

.acc-body .top .email button:hover {
  cursor: pointer;
}

.acc-body .bottom {
  position: relative;
  margin: 10px;
}

.acc-body .bottom .bottom-market {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
}

.acc-body .delete-acc {
  margin: 70px 0 20px 10px;
}

.acc-body .delete-acc .del-acc-btn {
  color: white;
  background-color: #dd1825;
  padding: 7px 15px;
  border: 1px solid black;
}

.acc-body .delete-acc .del-acc-btn:hover {
  cursor: pointer;
}

.acc-body .delete-acc .del-acc-btn:focus {
  outline: none;
  border: 1px solid black;
}

.acc-body .delete-acc .del-acc-btn-no {
  margin-left: 10px;
  border: none;
  background-color: rgba(221, 24, 37, 0);
  color: black;
}

.acc-body .delete-acc .del-acc-btn-no:hover {
  text-decoration: underline;
  cursor: pointer;
}

.acc-body .delete-acc input {
  border: none;
  height: 30px;
}

.acc-body .delete-acc input:focus {
  outline: none;
}

.acc-body .gridtc {
  grid-template-columns: 1fr;
}

.acc-body .gridtc .none {
  display: none;
}

.acc-body .crop {
  border: 2px solid blue;
  height: 300px;
}

.pass {
  color: #0e2e2b;
}

.fail {
  color: #dd1825;
}
