.acc-body {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	border: 1px solid black;

	.top {
		margin: 10px;
		// border: 1px solid red;
		border-radius: 20px;
		overflow: hidden;
		display: grid;
		grid-template-columns: minmax(100px, 700px) auto;

		.img-div {
			z-index: 1;
			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			// border: 1px solid white;
			border-radius: 20px;

			// height: 525px;
			img {
				max-width: 150%;
				max-height: 150%;
				transition: 0.3s;
				&:hover {
					cursor: pointer;
					transform: scale(1.2);
					transition: 0.3s;
				}
			}

			&:hover {
				cursor: pointer;
				// transform: scale(2);
			}
		}
		.info-div {
			// background-color: lightgray;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 0 15px;
			.userName {
				font-size: 2rem;
				font-weight: bold;
				// margin-bottom: 15px;
				// border: 1px solid red;
				&:hover {
					cursor: pointer;
				}
			}
			.line {
				width: 100%;
				border-bottom: 1px solid black;
			}
			.show-online {
				display: flex;
				align-items: center;
				span {
					margin-right: 5px;
				}
			}
			.show-online {
				// border: 1px solid red;
				display: flex;
			}
			.delete-acc {
				position: absolute;
				bottom: 10px;
				align-self: flex-end;
				// border: 1px solid black;
			}
		}
		.email {
			grid-column: 1/3;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// width: 100%;
			// border: 1px solid blue;
		}
	}
	.gridtc {
		// display: none;
		grid-template-columns: 1fr;
		.none {
			display: none;
		}
	}

	.crop {
		border: 2px solid blue;
		height: 300px;
	}
}

////////////// GLOBAL
