.users-page .users-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.users-page .users-page-header .search-bar-wrap {
  opacity: 0.6;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.2s;
}

.users-page .users-page-header .search-bar-wrap .search-bar {
  position: relative;
  margin-left: 10px;
  width: 50%;
}

.users-page .users-page-header .search-bar-wrap .search-bar input {
  font-family: "MuseoModerno", cursive;
  letter-spacing: 0.06rem;
  height: 40px;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid rgba(14, 46, 43, 0);
  transition: 0.1s;
  outline: none;
}

.users-page .users-page-header .search-bar-wrap .search-bar .search-bar-grad {
  margin: auto;
  height: 1px;
  width: 0%;
  transition: 0.5s;
  background: linear-gradient(90deg, rgba(0, 181, 136, 0) 0%, #8b8b8b 20%, #8b8b8b 80%, rgba(0, 255, 218, 0) 100%);
}

.users-page .users-page-header .search-bar-wrap .search-bar .search-bar-grad-width {
  width: 100%;
  transition: 0.5s;
}

.users-page .users-page-header .search-bar-wrap .check-div {
  opacity: 0;
  transition: 0.2s;
}

.users-page .users-page-header .search-bar-wrap .check-div .checkbox {
  margin: 0 5px 0 10px;
}

.users-page .users-page-header .search-bar-wrap .opacity-1 {
  opacity: 1;
  transition: 0.2s;
}

.users-page .users-page-grid {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.hover:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .users-page .users-page-grid {
    margin: 10px;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
