.cropper-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cropper-body .raw {
  position: relative;
  width: 100%;
  height: 530px;
  background: white;
}

.cropper-body .prev {
  position: relative;
  width: 50%;
  background: white;
}

.cropper-body .btns button {
  margin: 15px 20px 0 10px;
  height: 30px;
  width: 120px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  background: linear-gradient(45deg, #15ca7f 10%, #0097e2 100%);
}

.cropper-body .btns button:active {
  border: none;
}

.cropper-body .btns button:hover {
  cursor: pointer;
}
