.item-wrap {
	position: relative;
	height: 75px;
	// border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	&:after {
		content: "";
		position: absolute;
		// border: 1px solid red;
		z-index: -1;
		height: 60px;
		width: 93%;
		border-radius: 5px;
		box-shadow: 0 0 3px 1px gray;
		transition: 0.5s;
	}
	&:hover::after {
		transform: scale(1.02);
		box-shadow: 0 0 3px 1px orange;
		transition: 0.5s;
	}
	.item {
		position: relative;
		// border: 1px solid blue;
		border-radius: 5px;
		// box-shadow: 0 0 3px 1px lightgray;
		height: 65px;
		width: 92%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		transition: box-shadow 0.3s;

		.icon-box {
			position: absolute;
			left: 10px;
			display: flex;
			align-items: center;
			.icon {
				transition: transform 0.5s;
			}
			.ammount {
				margin-left: 10px;
			}
		}
		.description {
			word-wrap: normal;
			width: 100%;
			margin-right: 90px;
			margin-left: 75px;
			// border: 1px solid orange;
			// height: 100%;
		}
		.buy {
			position: absolute;
			right: 10px;
			// border: 1px solid green;
			height: 40%;
			button {
				width: 75px;
				height: 100%;
				border: none;
				border-radius: 3px;

				&:focus {
					outline: none;
				}
			}
			input {
				width: 30px;
				height: 100%;
				text-align: center;
				border: none;
				font-size: 1rem;
				&:focus {
					outline: none;
				}
			}
		}
		&:hover .icon {
			transform: scale(1.2);
			transition: transform 0.3s;
		}
	}
}
.can-buy {
	color: white;
	background: linear-gradient(
		45deg,
		rgb(21, 202, 127) 10%,
		rgb(0, 151, 226) 100%
	);
	&:hover {
		cursor: pointer;
	}
	&:active {
		// background-color: rgb(62, 134, 61);
		border: 1px solid black;
	}
}
