.user-card {
	overflow: hidden;
	// border: 1px solid red;
	border-radius: 3px;
	height: 187px;
	display: grid;
	grid-template-columns: 250px auto;
	box-shadow: 0 0 4px 1px lightgray;
	transition: transform 0.3s;

	// &:hover {
	// 	transition: box-shadow 0.5s;
	// 	box-shadow: 0 0 6px 2px lightgray;
	// }
	&:hover img {
		transform: scale(1.2);
		transition: transform 10s;
	}
	img {
		// transform: scale(1.2);
		transition: transform 0.5s;
	}

	.image-block {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		// border: 1px solid blue;
		&:hover {
			cursor: pointer;
		}
	}
	.info-block {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 60px;
		// border: 1px solid blue;
		// background-color: rgb(115, 172, 98);
		.user-name {
			// position: relative;
			//
			display: flex;
			align-items: center;
			// margin-top: 20px;
			margin-left: 25px;
			color: rgb(48, 48, 48);

			p {
				margin: 0 20px 0 15px;
				display: inline-block;
				font-weight: 500;
				font-size: 1.8rem;

				&:hover {
					cursor: pointer;
				}
			}
			.ribon {
				filter: blur(4px);
				right: -60px;
				bottom: -70px;
				font-size: 15rem;
				z-index: -1;
				position: absolute;
				opacity: 0.6;
				background: linear-gradient(
					300deg,
					rgb(255, 120, 9) 0%,
					rgb(255, 196, 0) 59%,
					rgb(255, 232, 25) 100%
				);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.pulse-c {
				position: absolute;
				left: 0px;
				// border: 1px solid red;
				margin: 0;
				padding-bottom: 5px;
			}
		}
		.user-icon {
			position: absolute;
			right: 5px;
			top: 5px;
			color: rgb(75, 75, 75);
			// opacity: 0.3;
			font-size: 1.2rem;
			margin-left: 42px;
			.user-add {
				opacity: 0.2;
				&:hover {
					opacity: 0.4;
				}
			}

			.user-added {
				margin: 0;
				font-size: 0.8rem;
				color: rgb(75, 75, 75);
				opacity: 0.5;
			}
		}
		.stats {
			bottom: -50px;
			position: absolute;
			width: 100%;
			// border: 1px solid green;
			height: 60px;
			justify-self: flex-end;
			display: flex;
			justify-content: space-around;
			align-items: center;
			// margin-bottom: 10px;
			padding-top: 7px;
			.top-line-grad {
				position: absolute;
				width: 90%;
				height: 1px;
				top: 0;
				background-color: rgb(190, 190, 190);
				// background: linear-gradient(
				// 	90deg,
				// 	rgba(0, 181, 136, 0) 0%,
				// 	rgb(87, 87, 87) 20%,
				// 	rgb(85, 85, 85) 80%,
				// 	rgba(0, 255, 218, 0) 100%
				// );
			}

			.stats-box {
				// margin-left: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				// border: 1px solid black;
				height: 100%;
				// width: 50px;
				.top-span {
					font-weight: 500;
					font-size: 0.8rem;
					color: rgb(119, 119, 119);
				}
				.bottom-span {
					font-weight: 600;
					font-size: 1.2rem;
					color: rgb(92, 92, 92);
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.user-card {
		overflow: hidden;
		// border: 1px solid red;
		// border-radius: 10px;
		height: 100px;
		grid-template-columns: 150px auto;
		.image-block {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100;
			width: 160px;

			img {
				height: 120px;
			}
		}
		.info-block {
			.user-name {
				p {
					margin: 0 20px 0 15px;
					display: inline-block;
					font-weight: 500;
					font-size: 1.6rem;
				}
				.ribon {
					filter: blur(4px);
					right: -40px;
					bottom: -70px;
					font-size: 8rem;
				}
			}
			.stats {
				bottom: -50px;
				position: absolute;
				width: 100%;
				// border: 1px solid green;
				height: 40px;
				justify-self: flex-end;
				display: flex;
				justify-content: space-around;
				align-items: center;
				// margin-bottom: 10px;
				padding-top: 7px;
				.top-line-grad {
					position: absolute;
					width: 80%;
					height: 1px;
					top: 0;
				}

				.stats-box {
					// margin-left: 20px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					// border: 1px solid black;
					height: 100%;
					// width: 50px;
					.top-span {
						font-weight: 500;
						font-size: 0.7rem;
						color: rgb(119, 119, 119);
					}
					.bottom-span {
						font-weight: 600;
						font-size: 1.1rem;
						color: rgb(92, 92, 92);
					}
				}
			}
		}
	}
}
//////////////////////     GLOBALs
.cursor-pointer {
	&:hover {
		cursor: pointer;
	}
}
