.user-profile {
  border-radius: 20px;
  border: 1px solid transparent;
}

.user-profile .profile-card {
  margin: 10px;
  display: grid;
  grid-template-columns: minmax(100px, 700px) auto;
}

.user-profile .profile-card .main-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.user-profile .profile-card .main-img img {
  max-width: 150%;
  max-height: 150%;
}

.user-profile .profile-card .main-info {
  position: relative;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-profile .profile-card .main-info .basic {
  margin-left: 10px;
}

.user-profile .profile-card .main-info .basic .title {
  display: flex;
  align-items: center;
  height: 50px;
}

.user-profile .profile-card .main-info .basic .title .userName {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.user-profile .profile-card .main-info .basic .title .pc {
  margin: 0 0 3px 25px;
}

.user-profile .profile-card .main-info .present {
  margin-left: 10px;
  border: 1px solid red;
}

.user-profile .profile-card .main-info .present .select {
  display: flex;
}

.user-profile .profile-card .main-info .present .select input {
  width: 40px;
}

.user-profile .profile-card .main-info .stats {
  bottom: -60px;
  position: absolute;
  width: 100%;
  border: 1px solid green;
  height: 60px;
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-profile .profile-card .main-info .stats .stats-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  width: 50px;
}

.user-profile .profile-card .main-info .stats .stats-box span {
  font-weight: bold;
  font-size: 1.2rem;
}

.hover-pointer:hover {
  cursor: pointer;
}
