.user-profile .profile-card {
  overflow: hidden;
  margin: 10px;
  margin-bottom: 20px;
  border: 1px solid #dadada;
  display: grid;
  grid-template-columns: minmax(450px, 700px) minmax(250px, auto);
}

.user-profile .profile-card .main-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.user-profile .profile-card .main-img img {
  max-width: 150%;
  max-height: 150%;
}

.user-profile .profile-card .main-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.user-profile .profile-card .main-info .top-right-menu {
  font-size: 2rem;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.6;
}

.user-profile .profile-card .main-info .top-right-menu:hover {
  cursor: pointer;
  opacity: 0.9;
}

.user-profile .profile-card .main-info .basic {
  margin-left: 10px;
}

.user-profile .profile-card .main-info .basic .title {
  display: flex;
  align-items: center;
  height: 50px;
}

.user-profile .profile-card .main-info .basic .title .userName {
  color: #303030;
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

.user-profile .profile-card .main-info .basic .title .pc {
  margin: 0 15px 3px -15px;
}

.user-profile .profile-card .main-info .basic .title .add-remove {
  color: #303030;
  position: absolute;
  bottom: 22px;
  left: 54px;
}

.user-profile .profile-card .main-info .basic .ribon {
  filter: blur(4px);
  opacity: 0.6;
  top: -20px;
  z-index: -1;
  position: absolute;
  font-size: 40rem;
  background: linear-gradient(300deg, #ff7809 0%, #ffc400 59%, #ffe819 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-profile .profile-card .main-info .present {
  display: none;
  margin-left: 10px;
  margin-top: 10px;
}

.user-profile .profile-card .main-info .present .select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile .profile-card .main-info .present .select input {
  text-align: center;
  width: 40px;
  border: none;
  outline: none;
}

.user-profile .profile-card .main-info .present .select .Dropdown {
  border: none;
}

.user-profile .profile-card .main-info .present .select .Dropdown .visible {
  max-height: 230px;
  border: none;
}

.user-profile .profile-card .main-info .present button {
  margin: auto;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  background-color: #5981b6;
}

.user-profile .profile-card .main-info .present button:active {
  border: none;
}

.user-profile .profile-card .main-info .stats {
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 60px;
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 7px;
}

.user-profile .profile-card .main-info .stats .top-line-grad {
  position: absolute;
  width: 90%;
  height: 1px;
  top: 0;
  background-color: #bebebe;
}

.user-profile .profile-card .main-info .stats .stats-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.user-profile .profile-card .main-info .stats .stats-box .top-span {
  font-weight: 500;
  font-size: 0.8rem;
  color: #777777;
}

.user-profile .profile-card .main-info .stats .stats-box .bottom-span {
  font-weight: 600;
  font-size: 1.2rem;
  color: #5c5c5c;
}

@media (max-width: 768px) {
  .user-profile .profile-card {
    margin: 10px;
    margin-bottom: 20px;
    grid-template-columns: auto;
  }
  .user-profile .profile-card .main-info {
    border: 1px solid black;
    overflow: hidden;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .user-profile .profile-card .main-info .top-right-menu {
    top: 25px;
    right: 15px;
  }
  .user-profile .profile-card .main-info .basic {
    margin-top: 10px;
    overflow: hidden;
  }
  .user-profile .profile-card .main-info .basic .ribon {
    filter: blur(4px);
    opacity: 0.6;
    top: -10px;
    right: -65px;
    z-index: -1;
    position: absolute;
    font-size: 24rem;
    background: linear-gradient(300deg, #ff7809 0%, #ffc400 59%, #ffe819 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

.sweet-loading {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animation-appear {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
