.user-card {
  overflow: hidden;
  border-radius: 15px;
  height: 188px;
  display: grid;
  grid-template-columns: 250px auto;
  box-shadow: 0 0 2px 1px lightgray;
  transition: 0.4s;
}

.user-card:hover {
  transition: 0.4s;
  box-shadow: 0 0 5px 1px gray;
}

.user-card .image-block {
  overflow: hidden;
}

.user-card .info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.user-card .info-block .user-name {
  position: relative;
  display: flex;
  align-items: center;
}

.user-card .info-block .user-name p {
  margin: 0 20px 0 0;
  display: inline-block;
  font-weight: bold;
  font-size: 1.8rem;
}

.user-card .info-block .user-name p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.user-card .info-block .user-icon {
  font-size: 1.6rem;
}

.cursor-pointer:hover {
  cursor: pointer;
}
