.user-card {
	overflow: hidden;
	// border: 1px solid red;
	// border-radius: 10px;
	height: 187px;
	display: grid;
	grid-template-columns: 250px auto;
	box-shadow: 0 0 6px 2px lightgray;
	transition: 0.3s;

	// &:hover {
	// 	transition: 0.3s;
	// 	box-shadow: 0 0 6px 2px black;
	// }
	&:hover img {
		transform: scale(1.2);
		transition: 10s;
	}
	img {
		// transform: scale(1.2);
		transition: 0.5s;
	}

	.image-block {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		// border: 1px solid blue;
	}
	.info-block {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 60px;
		// background-color: rgb(115, 172, 98);
		.user-name {
			// position: relative;
			// border: 1px solid blue;
			display: flex;
			align-items: center;
			// margin-top: 20px;
			margin-left: 25px;
			color: rgb(48, 48, 48);

			p {
				margin: 0 20px 0 15px;
				display: inline-block;
				font-weight: 500;
				font-size: 1.8rem;

				&:hover {
					cursor: pointer;
				}
			}
			.ribon {
				right: -50px;
				bottom: -60px;
				font-size: 14rem;
				z-index: -1;
				position: absolute;
				opacity: 0.8;
				background: linear-gradient(
					300deg,
					rgb(255, 120, 9) 0%,
					rgb(255, 196, 0) 59%,
					rgb(255, 232, 25) 100%
				);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.pulse-c {
				position: absolute;
				left: -25px;
				// border: 1px solid red;
				margin: 0;
				padding-bottom: 5px;
			}
		}
		.user-icon {
			color: rgb(75, 75, 75);
			font-size: 1.2rem;
			margin-left: 42px;

			.user-added {
				font-size: 0.8rem;
				color: rgb(75, 75, 75);
			}
		}
		.stats {
			bottom: -60px;
			position: absolute;
			width: 100%;
			// border: 1px solid green;
			height: 60px;
			justify-self: flex-end;
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 10px;
			padding-top: 7px;
			.top-line-grad {
				position: absolute;
				width: 80%;
				height: 1px;
				top: 0;
				background: linear-gradient(
					90deg,
					rgba(0, 181, 136, 0) 0%,
					rgba(56, 181, 87, 1) 20%,
					rgba(56, 181, 87, 1) 80%,
					rgba(0, 255, 218, 0) 100%
				);
			}

			.stats-box {
				// margin-left: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				// border: 1px solid black;
				height: 100%;
				// width: 50px;
				.top-span {
					font-weight: 400;
					font-size: 1.1rem;
					color: rgb(48, 48, 48);
				}
				.bottom-span {
					font-weight: 600;
					font-size: 1.2rem;
					color: rgb(48, 48, 48);
				}
			}
		}
	}
}
//////////////////////     GLOBALs
.cursor-pointer {
	&:hover {
		cursor: pointer;
	}
}
