.user-profile {
	// overflow: hidden;
	// border-radius: 20px;
	// border: 1px solid rgba($color: #000000, $alpha: 0);
	.profile-card {
		overflow: hidden;
		margin: 10px;
		margin-bottom: 20px;
		// border: 1px solid red;
		border: 1px solid rgb(218, 218, 218);
		display: grid;
		grid-template-columns: minmax(450px, 700px) minmax(250px, auto);

		.main-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			// border: 1px solid red;
			// border-radius: 20px;
			overflow: hidden;
			// height: 525px;
			img {
				max-width: 150%;
				max-height: 150%;
			}
		}
		.main-info {
			// border: 1px solid red;

			position: relative;
			// margin-bottom: 60px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			height: 100%;
			// padding: 0 15px;
			// display: none;

			.top-right-menu {
				font-size: 2rem;
				position: absolute;
				top: 15px;
				right: 15px;
				opacity: 0.6;
				&:hover {
					cursor: pointer;
					opacity: 0.9;
				}
			}
			.user-menu {
				// border: 1px solid red;
				position: absolute;
				// height: 100px;
				width: 150px;
				top: 50px;
				right: 0;
				display: flex;
				flex-direction: column;
				.user-menu-block {
					// border: 1px solid black;
					width: 100%;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					.user-menu-btn {
						border: 1px solid gray;
						// box-shadow: 0 0 2px 1px gray;
						border-radius: 3px;
						height: 90%;
						width: 95%;
						display: flex;
						align-items: center;
						justify-content: center;
						span {
							color: rgb(95, 95, 95);
						}
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
			.basic {
				// position: relative;
				margin-left: 15px;
				// border: 1px solid red;
				.title {
					// background-color: lightgray;
					display: flex;
					align-items: center;
					height: 50px;
					.userName {
						color: rgb(48, 48, 48);
						display: block;
						font-size: 2rem;
						font-weight: 600;
						// margin-bottom: 15px;
						// border: 1px solid red;
					}
					.pc {
						// border: 1px solid red;
						margin: 0 15px 3px -15px;
					}
					.add-remove {
						color: rgb(48, 48, 48);
						position: absolute;
						bottom: 22px;
						left: 54px;
					}
				}
				.ribon {
					filter: blur(4px);
					opacity: 0.6;
					top: -20px;
					z-index: -1;
					position: absolute;
					font-size: 40rem;
					background: linear-gradient(
						300deg,
						rgb(255, 120, 9) 0%,
						rgb(255, 196, 0) 59%,
						rgb(255, 232, 25) 100%
					);
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			.btns {
				// border: 1px solid red;
				height: 120px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				padding: 15px;
				.btn {
					border: 1px solid gray;
					border-radius: 3px;
					height: 30px;
					width: 150px;
					display: flex;
					justify-content: center;
					align-items: center;
					&:hover {
						cursor: pointer;
					}
				}
			}
			.user-icon {
				position: absolute;
				right: 15px;
				top: 420px;
				color: rgb(75, 75, 75);
				// opacity: 0.3;
				font-size: 1.2rem;
				margin-left: 50px;
				.user-add {
					margin-right: 0px;
					opacity: 0.2;
					&:hover {
						opacity: 0.4;
					}
				}

				.user-added {
					margin: 0;
					font-size: 0.8rem;
					color: rgb(75, 75, 75);
					opacity: 0.5;
				}
			}
			.present {
				display: none;
				margin-left: 10px;
				margin-top: 10px;
				// border: 1px solid red;
				.select {
					display: flex;
					justify-content: center;
					align-items: center;
					input {
						text-align: center;
						width: 40px;
						border: none;
						outline: none;
					}

					.Dropdown {
						border: none;
						.visible {
							max-height: 230px;
							border: none;
						}
					}
				}
				button {
					margin: auto;
					width: 100%;
					height: 30px;
					// display: none;
					border: none;
					outline: none;
					border-radius: 8px;
					color: white;
					background-color: rgb(89, 129, 182);
					&:active {
						border: none;
					}
				}
			}
			.stats {
				bottom: 0px;
				position: absolute;
				width: 100%;
				// border: 1px solid green;
				height: 60px;
				justify-self: flex-end;
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 10px;
				padding-top: 7px;
				.top-line-grad {
					position: absolute;
					width: 90%;
					height: 1px;
					top: 0;
					background-color: rgb(190, 190, 190);
					// background: linear-gradient(
					// 	90deg,
					// 	rgba(0, 181, 136, 0) 0%,
					// 	rgba(56, 181, 87, 1) 20%,
					// 	rgba(56, 181, 87, 1) 80%,
					// 	rgba(0, 255, 218, 0) 100%
					// );
				}

				.stats-box {
					// margin-left: 20px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					// border: 1px solid black;
					height: 100%;
					// width: 50px;
					.top-span {
						font-weight: 500;
						font-size: 0.8rem;
						color: rgb(119, 119, 119);
					}
					.bottom-span {
						font-weight: 600;
						font-size: 1.2rem;
						color: rgb(92, 92, 92);
					}
				}
			}
		}
	}
}
/////////  -----   MEDIA
@media (max-width: 768px) {
	.user-profile {
		.profile-card {
			// overflow: hidden;
			margin: 10px;
			margin-bottom: 20px;
			// display: grid;
			grid-template-columns: auto;

			.main-info {
				// margin-top: 15px;
				// border: 1px solid black;
				overflow: hidden;
				height: 300px;

				// border: 1px solid red;
				position: relative;
				// margin-bottom: 10px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.top-right-menu {
					top: 25px;
					right: 15px;
				}

				.stats {
					// position: relative;
				}
				.basic {
					margin-top: 10px;
					overflow: hidden;

					.ribon {
						filter: blur(4px);
						opacity: 0.6;
						top: -10px;
						right: -65px;
						z-index: -1;
						position: absolute;
						font-size: 24rem;
						background: linear-gradient(
							300deg,
							rgb(255, 120, 9) 0%,
							rgb(255, 196, 0) 59%,
							rgb(255, 232, 25) 100%
						);
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				.user-icon {
					top: 190px;
				}
			}
		}
	}
}
.hover-pointer {
	&:hover {
		cursor: pointer;
	}
}
.sweet-loading {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	// opacity: 0;
	// animation: animation-appear 4s forwards ease;
}
@keyframes animation-appear {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
