.user-profile {
	// overflow: hidden;
	border-radius: 20px;
	border: 1px solid rgba($color: #000000, $alpha: 0);
	.profile-card {
		margin: 10px;
		// border: 1px solid red;
		display: grid;
		grid-template-columns: minmax(100px, 700px) auto;

		.main-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			// border: 1px solid red;
			border-radius: 20px;
			overflow: hidden;
			// height: 525px;
			img {
				max-width: 150%;
				max-height: 150%;
			}
		}
		.main-info {
			position: relative;
			margin-bottom: 60px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			// padding: 0 15px;

			.basic {
				margin-left: 10px;
				// border: 1px solid red;
				.title {
					// background-color: lightgray;
					display: flex;
					align-items: center;
					height: 50px;
					.userName {
						display: block;
						font-size: 2rem;
						font-weight: bold;
						// margin-bottom: 15px;
						// border: 1px solid red;
					}
					.pc {
						// border: 1px solid red;
						margin: 0 0 3px 25px;
					}
				}
			}
			.present {
				margin-left: 10px;
				border: 1px solid red;
				.select {
					display: flex;
					input {
						width: 40px;
					}
				}
			}
			.stats {
				bottom: -60px;
				position: absolute;
				width: 100%;
				border: 1px solid green;
				height: 60px;
				justify-self: flex-end;
				display: flex;
				justify-content: space-around;
				align-items: center;

				.stats-box {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					border: 1px solid black;
					height: 100%;
					width: 50px;
					span {
						font-weight: bold;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}
.hover-pointer {
	&:hover {
		cursor: pointer;
	}
}
