.user-card {
  overflow: hidden;
  height: 187px;
  display: grid;
  grid-template-columns: 250px auto;
  box-shadow: 0 0 6px 2px lightgray;
  transition: 0.3s;
}

.user-card:hover img {
  transform: scale(1.2);
  transition: 10s;
}

.user-card img {
  transition: 0.5s;
}

.user-card .image-block {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card .info-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.user-card .info-block .user-name {
  display: flex;
  align-items: center;
  margin-left: 25px;
  color: #303030;
}

.user-card .info-block .user-name p {
  margin: 0 20px 0 15px;
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
}

.user-card .info-block .user-name p:hover {
  cursor: pointer;
}

.user-card .info-block .user-name .ribon {
  right: -50px;
  bottom: -60px;
  font-size: 14rem;
  z-index: -1;
  position: absolute;
  opacity: 0.8;
  background: linear-gradient(300deg, #ff7809 0%, #ffc400 59%, #ffe819 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-card .info-block .user-name .pulse-c {
  position: absolute;
  left: -25px;
  margin: 0;
  padding-bottom: 5px;
}

.user-card .info-block .user-icon {
  color: #4b4b4b;
  font-size: 1.2rem;
  margin-left: 42px;
}

.user-card .info-block .user-icon .user-added {
  font-size: 0.8rem;
  color: #4b4b4b;
}

.user-card .info-block .stats {
  bottom: -60px;
  position: absolute;
  width: 100%;
  height: 60px;
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 7px;
}

.user-card .info-block .stats .top-line-grad {
  position: absolute;
  width: 80%;
  height: 1px;
  top: 0;
  background: linear-gradient(90deg, rgba(0, 181, 136, 0) 0%, #38b557 20%, #38b557 80%, rgba(0, 255, 218, 0) 100%);
}

.user-card .info-block .stats .stats-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.user-card .info-block .stats .stats-box .top-span {
  font-weight: 400;
  font-size: 1.1rem;
  color: #303030;
}

.user-card .info-block .stats .stats-box .bottom-span {
  font-weight: 600;
  font-size: 1.2rem;
  color: #303030;
}

.cursor-pointer:hover {
  cursor: pointer;
}
