.box-like {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  right: 0;
  height: 3rem;
}

.box-like .people {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
