.box-like {
	display: flex;
	justify-content: center;
	align-items: center;
	// position: absolute;
	// border: 1px solid red;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 3rem;
	.people {
		margin-right: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		// flex-direction: row-reverse;
	}
	.star-icon {
		margin-left: 10px;
		background: linear-gradient(
			300deg,
			rgb(255, 120, 9) 0%,
			rgb(255, 196, 0) 59%,
			rgb(255, 232, 25) 100%
		);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		// display: none;
	}
}
.hoveris {
	&:hover {
		cursor: pointer;
	}
}
