.box-like {
	display: flex;
	justify-content: center;
	align-items: center;
	// position: absolute;
	border: 1px solid red;
	right: 0;
	height: 3rem;
	.people {
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		// flex-direction: row-reverse;
	}
}
