.comment-body {
  margin-bottom: 20px;
}

.comment-body .comment-top {
  position: relative;
  border: 1px solid green;
  height: 60px;
  display: flex;
  align-items: center;
}

.comment-body .comment-top .info {
  margin-left: 20px;
}

.comment-body .comment-top .profile-img {
  margin-left: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 2px grey;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.comment-body .comment-top .profile-img img {
  width: 140%;
}

.comment-body .comment-top .menu {
  border: 1px solid red;
  color: lightgrey;
  position: absolute;
  right: 0;
  transition: color 0.2s;
}

.comment-body .comment-top .menu:hover {
  color: grey;
  cursor: pointer;
  transition: color 0.2s;
}

.comment-body .comment-top .popup {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  right: 0;
  height: 100%;
  width: 80px;
  border: 1px solid blue;
}

.comment-body .comment-middle p {
  white-space: pre-line;
}
