.comment-body {
  margin-bottom: 20px;
}

.comment-body .comment-top {
  overflow: hidden;
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comment-body .comment-top .comment-titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.comment-body .comment-top .comment-titles .info {
  margin-left: 20px;
}

.comment-body .comment-top .comment-titles .name {
  font-size: 1.2rem;
}

.comment-body .comment-top .comment-titles .edited-comment {
  position: absolute;
  right: 80px;
}

.comment-body .comment-top .comment-titles .time {
  color: gray;
  font-size: 0.8rem;
}

.comment-body .comment-top .profile-img {
  margin-left: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.comment-body .comment-top .profile-img img {
  width: 120px;
}

.comment-body .comment-top .menu {
  color: lightgrey;
  position: absolute;
  right: 0;
  transition: color 0.2s;
}

.comment-body .comment-top .menu:hover {
  color: grey;
  cursor: pointer;
  transition: color 0.2s;
}

.comment-body .comment-top .popup {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  right: 0;
  height: 100%;
  width: 80px;
}

.comment-body .comment-middle {
  margin: 10px 0 0 25px;
}

.comment-body .comment-middle p {
  white-space: pre-line;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  color: #323232;
}

.cursor-pointer:hover {
  cursor: pointer;
}
