.comment-body {
  margin-bottom: 20px;
  margin-right: 5px;
  position: relative;
}

.comment-body .comment-top {
  overflow: hidden;
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
}

.comment-body .comment-top .comment-titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-body .comment-top .comment-titles .info {
  margin-left: 20px;
}

.comment-body .comment-top .comment-titles .name {
  font-size: 1.3rem;
  font-weight: 400;
  color: #323232;
}

.comment-body .comment-top .comment-titles .edited-comment {
  right: 80px;
}

.comment-body .comment-top .comment-titles .time {
  color: gray;
  font-size: 0.8rem;
}

.comment-body .comment-top .profile-img {
  position: relative;
  margin-left: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.comment-body .comment-top .profile-img:hover {
  cursor: pointer;
}

.comment-body .comment-top .profile-img img {
  width: 81px;
  height: 60px;
}

.comment-body .comment-top .menu {
  position: relative;
  color: lightgrey;
  position: absolute;
  right: 0;
  transition: color 0.2s;
}

.comment-body .comment-top .menu:hover {
  color: grey;
  cursor: pointer;
  transition: color 0.2s;
}

.comment-body .comment-top .popup {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  right: 0;
  height: 100%;
  width: 80px;
}

.comment-body .comment-middle {
  position: relative;
  margin: 0px 0 10px 85px;
  white-space: pre-line;
}

.comment-body .comment-middle span {
  user-select: text;
}

.comment-body .comment-middle p {
  overflow-wrap: normal;
  white-space: pre-line;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  color: #323232;
}

.comment-body .comment-middle .editing-mode {
  color: #323232;
  margin-right: 10px;
  border: 1px solid lightblue;
  padding: 1px;
  border-radius: 2px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .comment-body .comment-top .comment-titles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .comment-body .comment-top .comment-titles .info {
    margin-left: 10px;
  }
  .comment-body .comment-top .comment-titles .name {
    font-size: 1.3rem;
    font-weight: 400;
    color: #323232;
  }
  .comment-body .comment-top .comment-titles .edited-comment {
    position: absolute;
    left: 66px;
    top: 45px;
  }
  .comment-body .comment-top .comment-titles .time {
    color: gray;
    font-size: 0.8rem;
  }
  .comment-body .comment-top .comment-titles .edit-dot {
    display: none;
  }
  .comment-body .comment-middle {
    position: relative;
    margin: 5px 0 10px 30px;
  }
}
