.comment-body {
	margin-bottom: 20px;
	// height: 80px;
	// border: 1px solid black;
	.comment-top {
		position: relative;
		border: 1px solid green;
		height: 60px;
		display: flex;
		align-items: center;
		.info {
			margin-left: 20px;
		}
		.profile-img {
			margin-left: 5px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 140%;
				// border: 1px solid black;
			}
			// border: 1px solid grey;
			box-shadow: 0 0 3px 2px grey;
			height: 45px;
			width: 45px;
			border-radius: 50%;
		}
		.menu {
			// position: relative;
			border: 1px solid red;
			color: lightgrey;
			position: absolute;
			right: 0;
			transition: color 0.2s;
			&:hover {
				color: grey;
				cursor: pointer;
				transition: color 0.2s;
			}
		}
		.popup {
			display: grid;
			grid-template-rows: 1fr 1fr;
			position: absolute;
			right: 0;
			height: 100%;
			width: 80px;
			border: 1px solid blue;
		}
	}
	.comment-middle {
		p {
			white-space: pre-line;
		}
		// border: 2px solid black;
		// height: 100px;
	}
}
.cursor-pointer {
	&:hover {
		cursor: pointer;
	}
}
