.comment-body {
	margin-bottom: 20px;
	// height: 80px;
	// border: 1px solid black;
	margin-right: 5px;
	position: relative;
	.comment-top {
		overflow: hidden;
		position: relative;
		// border: 1px solid green;
		height: 60px;
		display: flex;
		align-items: center;

		// justify-content: center;
		.comment-titles {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			// padding-bottom: 20px;
			// width: 100%;
			.info {
				margin-left: 20px;
			}
			.name {
				font-size: 1.3rem;
				font-weight: 400;
				color: rgb(50, 50, 50);
			}
			.edited-comment {
				// position: absolute;
				right: 80px;
			}
			.time {
				color: gray;
				font-size: 0.8rem;
			}
		}

		.profile-img {
			position: relative;
			// border: 1px solid red;
			margin-left: 5px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			// width: 200px;
			border-radius: 50%;
			// transform: scale(0.4);
			width: 60px;
			height: 60px;
			&:hover {
				cursor: pointer;
			}

			img {
				// width: 120px;
				width: 81px;
				height: 60px;
			}
		}
		.menu {
			position: relative;
			// border: 1px solid red;
			color: lightgrey;
			position: absolute;
			right: 0;
			transition: color 0.2s;
			&:hover {
				color: grey;
				cursor: pointer;
				transition: color 0.2s;
			}
		}
		.popup {
			display: grid;
			grid-template-rows: 1fr 1fr;
			position: absolute;
			right: 0;
			height: 100%;
			width: 80px;
			// border: 1px solid blue;
		}
	}
	.comment-middle {
		position: relative;
		// border: 1px solid black;
		margin: 0px 0 10px 85px;
		white-space: pre-line;
		span {
			user-select: text;
		}

		p {
			overflow-wrap: normal;
			white-space: pre-line;
			font-size: 1rem;
			letter-spacing: 0.03rem;
			word-spacing: 0.2rem;
			color: rgb(50, 50, 50);
		}
		.editing-mode {
			border: 1px solid lightblue;
			padding: 1px;
			// background-color: rgb(196, 229, 240);
			border-radius: 2px;
		}

		// height: 100px;
	}
}
.cursor-pointer {
	&:hover {
		cursor: pointer;
	}
}
@media (max-width: 768px) {
	.comment-body {
		.comment-top {
			.comment-titles {
				// border: 1px solid red;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.info {
					margin-left: 10px;
				}
				.name {
					font-size: 1.3rem;
					font-weight: 400;
					color: rgb(50, 50, 50);
				}
				.edited-comment {
					position: absolute;
					left: 66px;
					top: 45px;
				}
				.time {
					color: gray;
					font-size: 0.8rem;
				}
				.edit-dot {
					display: none;
				}
			}
		}
		.comment-middle {
			position: relative;
			// border: 1px solid black;
			margin: 5px 0 10px 30px;
		}
	}
}
