.div-style {
	margin-left: -7px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	// box-shadow: 0 0 2px 1px grey;
	height: 35px;
	width: 35px;

	img {
		// width: 130%;
		// border: 1px solid black;
	}

	&:hover {
		cursor: pointer;
	}
}
