.menu {
	font-size: 2rem;
	margin-right: 10px;
	// position: relative;
	// border: 1px solid red;
	color: lightgrey;
	position: absolute;
	right: 0;
	transition: 0.2s;
	&:hover {
		color: grey;
		cursor: pointer;
		transition: 0.2s;
	}
}
.popup {
	z-index: 11;
	display: grid;
	grid-template-rows: 1fr 1fr;
	position: absolute;
	right: 0;
	height: 100%;
	width: 80px;
	// border: 1px solid blue;
	.btn {
		color: rgb(105, 105, 105);
		font-weight: 400;
		margin: auto;
		animation: animation-appear;
		animation-duration: 0.1s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
.hide {
	opacity: 0;
}
.btn-hide {
	animation: animation-dissapear;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes animation-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animation-dissapear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
