.post-body {
  border: 2px solid black;
}

.post-body .top-section {
  display: flex;
  height: 5rem;
  overflow: hidden;
}

.post-body .top-section .profile-img {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-body .top-section .profile-img img {
  width: 100%;
}

.post-body .top-section .post-info-top {
  height: 5rem;
  border: 1px solid black;
  padding-left: 10px;
}

.post-body .top-section .post-info-top .user-name {
  font-weight: bold;
}

.post-body .top-section .post-info-top .date-posted {
  font-size: 0.8rem;
}

.post-body .middle-section {
  position: relative;
  border: 1px solid green;
  padding: 20px 50px 40px 50px;
}

.post-body .middle-section .edit-button {
  position: absolute;
  right: 5px;
  top: 5px;
  color: lightgrey;
}

.post-body .middle-section .edit-button:hover {
  color: black;
  cursor: pointer;
}

.post-body .middle-section .cancel-button {
  position: absolute;
  right: 35px;
  top: 5px;
  color: lightgrey;
}

.post-body .middle-section .cancel-button:hover {
  color: black;
  cursor: pointer;
}

.post-body .middle-section .text-box .TextareaAutosize {
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  display: block;
  resize: none;
  bottom: 100%;
}

.post-body .middle-section .modified {
  color: grey;
  position: absolute;
  font-size: 0.8rem;
  margin-top: 20px;
}

.post-body .bottom-section {
  position: relative;
  height: 2rem;
}
