.post-body {
	border: 2px solid black;
	position: relative;
	.top-section {
		position: relative;
		display: flex;
		align-items: center;
		height: 5rem;
		overflow: hidden;
		.profile-img {
			// background-color: lightgrey;
			height: 5rem;
			width: 8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 100%;
			}
		}
		.post-info-top {
			height: 5rem;
			// border: 1px solid black;
			padding-left: 10px;
			.user-name {
				margin-top: 5px;
				font-weight: bold;
				font-size: 1.3rem;
			}
			.date-posted {
				font-size: 0.8rem;
			}
		}
	}
	.middle-section {
		position: relative;
		// height: 5rem;
		border: 1px solid green;
		padding: 20px 50px 40px 50px;

		.text-box {
			// border: 1px solid grey;
			.TextareaAutosize {
				width: 100%;
				// position: relative;
				margin-top: 5px;
				overflow: hidden;
				display: block;
				// width: 100px;
				resize: none;
				bottom: 100%;
			}
		}
		.modified {
			color: grey;
			position: absolute;
			font-size: 0.8rem;
			margin-top: 20px;
			// margin-left: 5rem;
		}
	}
	.bottom-section {
		position: relative;
		padding: 0 30px 0 30px;
		.comments-content {
			position: relative;
			overflow: hidden;
			border: 1px solid red;
			display: grid;
			// grid-template-rows: 50px 1fr;
		}
		.comments-add {
			position: relative;
			overflow: hidden;
			border: 1px solid blue;
			min-height: 30px;
			.comment-send {
				position: absolute;
				right: 0;
				bottom: 2px;
				color: lightgrey;
				display: none;
			}
			.comment-send-ready {
				display: block;
				color: grey;
				&:hover {
					color: black;
					cursor: pointer;
				}
			}
		}
	}
}

.TextareaAutosize-comment {
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	// position: relative;
	margin-top: 5px;
	overflow: hidden;
	display: block;
	// width: 100px;
	resize: none;
	bottom: 100%;
	&:active {
		border: none;
	}
	&:focused {
		border: none;
	}
}
