.post-body {
  position: relative;
  margin: 20px 10px 40px 10px;
  padding-bottom: 1px;
  box-shadow: 0 0 5px 2px #d6d6d6;
  transition: box-shadow 0.3s;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

.post-body .top-section {
  position: relative;
  display: flex;
  align-items: center;
  height: 7rem;
  overflow: hidden;
}

.post-body .top-section .profile-img {
  border-top-left-radius: 2px;
  overflow: hidden;
  height: 7rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-body .top-section .profile-img:hover {
  cursor: pointer;
}

.post-body .top-section .profile-img img {
  width: 100%;
}

.post-body .top-section .post-info-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7rem;
  margin-left: 15px;
}

.post-body .top-section .post-info-top .user-titles {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-body .top-section .post-info-top .user-titles .name {
  letter-spacing: 0.03rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.post-body .top-section .post-info-top .user-titles .name:hover {
  cursor: pointer;
}

.post-body .top-section .post-info-top .user-titles .PulsatingCircle {
  margin-left: 20px;
  display: none;
}

.post-body .top-section .post-info-top .user-titles .ribon-round {
  margin-left: 2px;
  box-shadow: 0 0 1px 2px rgba(255, 166, 0, 0.514);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-body .top-section .post-info-top .date-posted {
  font-size: 0.8rem;
}

.post-body .top-section .bottom-grad {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(37, 163, 60, 0.636292) 14%, rgba(255, 255, 255, 0) 87%);
  height: 1px;
}

.post-body .middle-section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.post-body .middle-section .text-box {
  margin: 15px 50px 10px 50px;
  overflow: hidden;
}

.post-body .middle-section .text-box .edit-mode {
  border: 1px solid lightblue;
  padding: 1px;
  border-radius: 2px;
}

.post-body .middle-section .text-box .edit-mode .TextareaAutosize {
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  display: block;
  resize: none;
  bottom: 100%;
}

.post-body .middle-section .text-box .post-text {
  overflow: hidden;
  max-height: 500px;
}

.post-body .middle-section .text-box .post-text .textas {
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  color: #323232;
  white-space: pre-line;
  line-height: 1.7rem;
  font-size: 1.1rem;
  white-space: pre-line;
}

.post-body .middle-section .text-box .post-text .textas span {
  user-select: text !important;
}

.post-body .middle-section .text-box .continue {
  position: relative;
  height: 40px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: white;
  background: linear-gradient(0deg, white 60%, rgba(255, 255, 255, 0) 100%);
}

.post-body .middle-section .text-box .continue span {
  color: gray;
  font-size: 0.9rem;
  transition: 0.2s;
}

.post-body .middle-section .text-box .continue span:hover {
  cursor: pointer;
  color: #3d3d3d;
  transition: 0.2s;
}

.post-body .middle-section .comments-and-likes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.post-body .middle-section .comments-and-likes .comments-info {
  margin-right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-body .middle-section .comments-and-likes .comments-info:hover {
  cursor: pointer;
}

.post-body .middle-section .comments-and-likes .comments-info span {
  margin-left: 5px;
}

.post-body .middle-section .comments-and-likes .comments-info .fa-comment-alt {
  background: linear-gradient(300deg, #ff7809 0%, #ffc400 59%, #ffe819 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.post-body .middle-section .comments-and-likes .modified {
  left: 50px;
  margin: 0;
  color: grey;
  position: absolute;
  font-size: 0.8rem;
}

.post-body .bottom-section {
  position: relative;
  padding: 0 50px 0 50px;
}

.post-body .bottom-section .comments-content {
  position: relative;
  display: grid;
}

.post-body .bottom-section .comments-content .scroll-bar {
  transition: 0.3s;
}

.post-body .bottom-section .comments-content .scroll-bar > div:nth-child(1) {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.post-body .bottom-section .comments-content .scroll-bar > div:nth-child(2) {
  display: none !important;
}

.post-body .bottom-section .comments-content .comments-content-top-grad {
  margin-top: 5px;
  margin-bottom: 12px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(0, 181, 136, 0) 0%, rgba(182, 182, 182, 0.5) 20%, rgba(182, 182, 182, 0.5) 80%, rgba(0, 255, 218, 0) 100%);
}

.post-body .bottom-section .comments-add {
  position: relative;
  border: 1px solid blue;
  min-height: 30px;
}

.post-body .bottom-section .comments-add .comment-send {
  position: absolute;
  right: 0;
  bottom: 2px;
  color: lightgrey;
  display: none;
}

.post-body .bottom-section .comments-add .comment-send-ready {
  display: block;
  color: grey;
}

.post-body .bottom-section .comments-add .comment-send-ready:hover {
  color: black;
  cursor: pointer;
}

.post-body .bottom-section .add-post-comment {
  margin: 10px 0 9px 0;
  padding: 3px 8px 2px 8px;
  border: 1px solid #ececec;
  border-radius: 20px;
  transition: 0.2s;
  z-index: 5;
}

.post-body .bottom-section .add-post-comment-focus {
  border: 1px solid #b8b8b8;
  transition: 0.2s;
}

.TextareaAutosize-comment {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  overflow: hidden;
  display: block;
  resize: none;
  bottom: 100%;
}

.TextareaAutosize-comment:active {
  border: none;
}

.TextareaAutosize-comment:focused {
  border: none;
}

.pulsating-circle {
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transform: scale(2);
}

.pulsating-circle:before {
  content: "";
  display: block;
  position: relative;
  width: 300%;
  height: 300%;
  margin-left: -100%;
  margin-top: -100%;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #73ac62;
  animation: pulse-ring 50 cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 105%;
  height: 105%;
  border-radius: 50%;
  background-color: #73ac62;
  box-shadow: 0 0 3px #73ac62;
  animation: pulse-dot 50 cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.7s infinite;
  z-index: 1;
}

@media (max-width: 768px) {
  .post-body {
    margin: 20px 10px 30px 10px;
  }
  .post-body .middle-section {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .post-body .middle-section .text-box {
    margin: 15px 10px 10px 10px;
  }
  .post-body .middle-section .comments-and-likes {
    margin-top: 5px;
  }
  .post-body .middle-section .comments-and-likes .comments-info {
    margin-right: 25px;
  }
  .post-body .middle-section .comments-and-likes .modified {
    left: 20px;
    margin: 0;
    color: grey;
    position: absolute;
    margin-bottom: 50px;
    font-size: 0.8rem;
  }
  .post-body .bottom-section {
    position: relative;
    padding: 0 10px 0 10px;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}
