$colorPrimary: black;
$colorTone: rgb(115, 172, 98);

.TextareaAutosize {
	width: 100% !important;
	// position: relative;
	margin-top: 5px;
	overflow: hidden;
	display: block;
	// width: 100px;
	resize: none;
	bottom: 100%;
}
