$colorTone: rgb(115, 172, 98);

.post-body {
	border: 2px solid black;
	position: relative;
	.top-section {
		position: relative;
		display: flex;
		align-items: center;
		height: 7rem;
		overflow: hidden;
		.profile-img {
			// background-color: lightgrey;
			height: 7rem;
			width: 10rem;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 100%;
			}
		}
		.post-info-top {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 7rem;
			// border: 1px solid black;
			margin-left: 15px;
			.user-titles {
				margin-top: 5px;
				.name {
					font-weight: bold;
					font-size: 1.5rem;
					&:hover {
						cursor: pointer;
					}
				}
			}
			.date-posted {
				font-size: 0.8rem;
			}
		}
	}
	.middle-section {
		position: relative;
		// height: 5rem;
		border: 1px solid green;
		padding: 20px 50px 40px 50px;

		.text-box {
			// border: 1px solid grey;
			.TextareaAutosize {
				width: 100%;
				// position: relative;
				margin-top: 5px;
				overflow: hidden;
				display: block;
				// width: 100px;
				resize: none;
				bottom: 100%;
			}
			.textas {
				white-space: pre-line;
			}
			p {
				font-size: 1.2rem;
				white-space: pre-line;
			}
		}
		.modified {
			color: grey;
			position: absolute;
			font-size: 0.8rem;
			margin-top: 20px;
			// margin-left: 5rem;
		}
	}
	.bottom-section {
		position: relative;
		padding: 0 30px 0 30px;
		.comments-content {
			position: relative;
			overflow: hidden;
			border: 1px solid red;
			display: grid;
			// grid-template-rows: 50px 1fr;
		}
		.comments-add {
			position: relative;
			overflow: hidden;
			border: 1px solid blue;
			min-height: 30px;
			.comment-send {
				position: absolute;
				right: 0;
				bottom: 2px;
				color: lightgrey;
				display: none;
			}
			.comment-send-ready {
				display: block;
				color: grey;
				&:hover {
					color: black;
					cursor: pointer;
				}
			}
		}
	}
}

.TextareaAutosize-comment {
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	// position: relative;
	margin-top: 5px;
	overflow: hidden;
	display: block;
	// width: 100px;
	resize: none;
	bottom: 100%;
	&:active {
		border: none;
	}
	&:focused {
		border: none;
	}
}

////////////////////////     ----   GLOBAL CLASS   -----
.pulsating-circle {
	width: 50px;
	height: 50px;
	opacity: 1;
	transform: translateX(-50%) translateY(-50%);
	transform: scale(2);

	&:before {
		content: "";
		display: block;
		position: relative;

		width: 300%;
		height: 300%;
		margin-left: -100%;
		margin-top: -100%;
		box-sizing: border-box;

		border-radius: 50%;
		background-color: $colorTone;
		animation: pulse-ring 50 cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 105%;
		height: 105%;
		border-radius: 50%;
		background-color: $colorTone;
		box-shadow: 0 0 3px $colorTone;
		animation: pulse-dot 50 cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.7s infinite;
		z-index: 1;
	}
}
//////////////// -----    ANIMATIONS   -----
@keyframes pulse-ring {
	0% {
		transform: scale(0.33);
	}
	80%,
	100% {
		opacity: 0;
	}
}
@keyframes pulse-dot {
	0% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1.2);
	}
}
