$colorPrimary: black;
$colorTone: rgb(115, 172, 98);

.TextareaAutosize {
	width: 100% !important;
	// position: relative;
	// margin-top: 5px;
	// overflow: hidden;
	display: block;
	// border: 1px solid red;
	// width: 100px;
	resize: none;
	bottom: 100%;
	// border-top-right-radius: 20px;
	// border-top-left-radius: 20px;
	// margin-bottom: 20px;
	.line-bottom {
		width: 80%;
		margin: auto;
		// border-bottom: 1px solid gray;
		height: 1px;
		background: rgb(0, 181, 136);
		background: linear-gradient(
			90deg,
			rgba(0, 181, 136, 0) 0%,
			rgba(56, 181, 87, 1) 20%,
			rgba(56, 181, 87, 1) 80%,
			rgba(0, 255, 218, 0) 100%
		);
	}
	padding-top: 5px;
	margin-bottom: 30px;
	padding-right: 6px;
}
