$colorTone: rgb(115, 172, 98);

.post-body {
	position: relative;
	margin: 20px 10px 40px 10px;
	padding-bottom: 1px;
	box-shadow: 0 0 5px 2px rgb(214, 214, 214);
	transition: box-shadow 0.3s;
	border-radius: 3px;
	border: 1px solid rgb(225, 225, 225);

	.top-section {
		position: relative;
		display: flex;
		align-items: center;
		height: 7rem;
		overflow: hidden;
		.profile-img {
			// background-color: lightgrey;
			border-top-left-radius: 2px;
			overflow: hidden;
			height: 7rem;
			width: 10rem;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				cursor: pointer;
			}
			img {
				width: 100%;
			}
		}
		.post-info-top {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 7rem;
			// border: 1px solid black;
			margin-left: 15px;
			.user-titles {
				// border: 1px solid black;
				margin-top: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				.name {
					letter-spacing: 0.03rem;
					font-weight: 400;
					font-size: 1.5rem;
					&:hover {
						cursor: pointer;
					}
				}
				.PulsatingCircle {
					margin-left: 20px;
					display: none;
				}
				.ribon-round {
					margin-left: 2px;
					// border: 1px solid rgba(255, 166, 0, 0.514);
					box-shadow: 0 0 1px 2px rgba(255, 166, 0, 0.514);
					width: 17px;
					height: 17px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			.date-posted {
				font-size: 0.8rem;
			}
		}
		.bottom-grad {
			position: absolute;
			bottom: 0;
			width: 100%;
			background: linear-gradient(
				90deg,
				rgba(37, 163, 60, 0.6362920168067228) 14%,
				rgba(255, 255, 255, 0) 87%
			);
			height: 1px;
		}
	}
	.middle-section {
		position: relative;
		// border: 1px solid green;
		// border-top: 1px solid red;
		display: flex;
		flex-direction: column;
		.text-box {
			margin: 15px 50px 10px 50px;
			overflow: hidden;
			// border: 1px solid grey;

			.edit-mode {
				border: 1px solid lightblue;
				padding: 1px;
				border-radius: 2px;
				.TextareaAutosize {
					width: 100%;
					margin-top: 5px;
					overflow: hidden;
					display: block;
					// width: 100px;
					resize: none;
					bottom: 100%;
				}
			}
			.post-text {
				// border: 1px solid green;
				overflow: hidden;
				max-height: 500px;
				.textas {
					letter-spacing: 0.03rem;
					word-spacing: 0.2rem;
					color: rgb(50, 50, 50);
					white-space: pre-line;
					line-height: 1.7rem;
					font-size: 1.1rem;
					white-space: pre-line;
					span {
						user-select: text !important;
					}
				}
			}
			.continue {
				position: relative;
				// position: absolute;
				// box-shadow: 0 0 15px 7px white;
				// z-index: 200;
				height: 40px;
				// width: 100%;
				// border: 1px solid red;
				bottom: 20px;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				background: rgb(255, 255, 255);
				background: linear-gradient(
					0deg,
					rgba(255, 255, 255, 1) 60%,
					rgba(255, 255, 255, 0) 100%
				);
				span {
					color: gray;
					font-size: 0.9rem;
					transition: 0.2s;
					&:hover {
						cursor: pointer;
						color: rgb(61, 61, 61);
						transition: 0.2s;
					}
				}

				// margin-top: 50px;
			}
		}
		.comments-and-likes {
			// position: absolute;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			bottom: 0;
			width: 100%;
			// border: 1px solid blue;
			.comments-info {
				margin-right: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover {
					cursor: pointer;
				}
				span {
					margin-left: 5px;
				}
				.fa-comment-alt {
					background: linear-gradient(
						300deg,
						rgb(255, 120, 9) 0%,
						rgb(255, 196, 0) 59%,
						rgb(255, 232, 25) 100%
					);
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			.modified {
				left: 50px;
				margin: 0;
				color: grey;
				position: absolute;
				font-size: 0.8rem;
			}
		}
	}
	.bottom-section {
		position: relative;
		padding: 0 50px 0 50px;
		// border: 1px solid red;
		.comments-content {
			position: relative;
			display: grid;
			.scroll-bar {
				// border: 1px solid red;
				transition: 0.3s;
				& > div:nth-child(1) {
					overflow-y: scroll !important;
					overflow-x: hidden !important;
				}
				& > div:nth-child(2) {
					display: none !important;
				}
			}
			.comments-content-top-grad {
				margin-top: 5px;
				margin-bottom: 12px;
				// position: absolute;
				width: 100%;
				height: 1px;

				background: linear-gradient(
					90deg,
					rgba(0, 181, 136, 0) 0%,
					rgba(182, 182, 182, 0.5) 20%,
					rgba(182, 182, 182, 0.5) 80%,
					rgba(0, 255, 218, 0) 100%
				);

				// background: linear-gradient(
				// 	90deg,
				// 	rgba(0, 181, 136, 0) 0%,
				// 	rgb(71, 197, 103) 20%,
				// 	rgba(71, 197, 103) 80%,
				// 	rgba(0, 255, 218, 0) 100%
				// );
				// rgba(37, 163, 60, 0.6362920168067228) 14%,
				// rgba(255, 255, 255, 0) 87%
			}
		}
		.comments-add {
			position: relative;
			// overflow: hidden;
			border: 1px solid blue;
			min-height: 30px;
			.comment-send {
				position: absolute;
				right: 0;
				bottom: 2px;
				color: lightgrey;
				display: none;
			}
			.comment-send-ready {
				display: block;
				color: grey;
				&:hover {
					color: black;
					cursor: pointer;
				}
			}
		}
		.add-post-comment {
			margin: 10px 0 9px 0;
			padding: 3px 8px 2px 8px;
			border: 1px solid rgb(236, 236, 236);
			border-radius: 20px;
			// overflow: hidden;
			transition: 0.2s;
			z-index: 5;
		}
		.add-post-comment-focus {
			border: 1px solid rgb(184, 184, 184);
			transition: 0.2s;
		}
	}
}

.TextareaAutosize-comment {
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	// position: relative;
	margin-top: 5px;
	overflow: hidden;
	display: block;
	// width: 100px;
	resize: none;
	bottom: 100%;
	&:active {
		border: none;
	}
	&:focused {
		border: none;
	}
}

////////////////////////     ----   GLOBAL CLASS   -----
.pulsating-circle {
	width: 50px;
	height: 50px;
	opacity: 1;
	transform: translateX(-50%) translateY(-50%);
	transform: scale(2);

	&:before {
		content: "";
		display: block;
		position: relative;

		width: 300%;
		height: 300%;
		margin-left: -100%;
		margin-top: -100%;
		box-sizing: border-box;

		border-radius: 50%;
		background-color: $colorTone;
		animation: pulse-ring 50 cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 105%;
		height: 105%;
		border-radius: 50%;
		background-color: $colorTone;
		box-shadow: 0 0 3px $colorTone;
		animation: pulse-dot 50 cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.7s infinite;
		z-index: 1;
	}
}
////////////////
@media (max-width: 768px) {
	.post-body {
		margin: 20px 10px 30px 10px;
		.middle-section {
			position: relative;
			// border: 1px solid green;
			// border-top: 1px solid red;
			display: flex;
			flex-direction: column;
			.text-box {
				margin: 15px 10px 10px 10px;
			}
			.comments-and-likes {
				margin-top: 5px;
				.comments-info {
					margin-right: 25px;
				}

				.modified {
					left: 20px;
					margin: 0;
					color: grey;
					position: absolute;
					margin-bottom: 50px;
					font-size: 0.8rem;
				}
			}
		}
		.bottom-section {
			position: relative;
			padding: 0 10px 0 10px;
		}
	}
}
//////////////// -----    ANIMATIONS   -----
@keyframes pulse-ring {
	0% {
		transform: scale(0.33);
	}
	80%,
	100% {
		opacity: 0;
	}
}
@keyframes pulse-dot {
	0% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1.2);
	}
}
