::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar:vertical {
  width: 2px;
}

::-webkit-scrollbar-track:vertical {
  display: none;
  width: 2px;
}

.chat-main {
  background-color: white;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 3px 1px lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 320px;
  bottom: 320px;
  margin-right: 5px;
  z-index: 10;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.chat-main .top {
  border-bottom: 1px solid lightgray;
  height: 45px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.chat-main .top:hover {
  background-color: #fafafa;
  transition: background-color 0.2s;
}

.chat-main .top .target-name {
  margin-left: 20px;
  font-size: 1rem;
}

.chat-main .top .target-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chat-main .top .minimize {
  position: absolute;
  right: 35px;
  height: 23px;
  width: 23px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main .top .minimize:hover {
  cursor: pointer;
}

.chat-main .top .minimize:hover > .icon {
  color: gray;
}

.chat-main .top .minimize .icon {
  color: #b1b1b1;
  font-size: 1.5rem;
}

.chat-main .top .close {
  position: absolute;
  right: 5px;
  border-radius: 3px;
  height: 23px;
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-main .top .close:hover {
  cursor: pointer;
}

.chat-main .top .close:hover .plank {
  background-color: gray;
}

.chat-main .top .close .plank {
  position: absolute;
  width: 70%;
  background-color: #b1b1b1;
  height: 3px;
  border-radius: 2px;
}

.chat-main .top .close .plank-1 {
  transform: rotate(45deg);
}

.chat-main .top .close .plank-2 {
  transform: rotate(135deg);
}

.chat-main .middle {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  margin-right: 0px;
}

.chat-main .middle .scroll-bar > div:nth-child(1) {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding-bottom: 20px;
  position: relative;
}

.chat-main .middle .scroll-bar .middle-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 5px;
  margin-right: 7px;
}

.chat-main .bottom {
  border-top: 1px solid lightgray;
  background-color: transparent;
  padding: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main .bottom .txt-area-core {
  overflow: hidden;
  padding: 8px 5px 5px 10px;
  font-family: "MuseoModerno", cursive;
  overflow-wrap: normal;
  white-space: pre-line;
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.2rem;
  color: #323232;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 100%;
  display: block;
  resize: none;
  max-height: 200px;
  min-height: 34px;
  transition: 0.2s;
}

.chat-main .bottom .txt-area-core:active {
  outline: none;
}

.chat-main .bottom .txt-area-core:focused {
  outline: none;
}

.chat-main .bottom .focus {
  border: 1px solid #9c9c9c;
  transition: 0.2s;
}

.chat-main .bottom .send {
  border-radius: 3px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main .bottom .send .icon {
  opacity: 0.3;
  color: gray;
  font-size: 1.5rem;
  transition: opacity 0.2s;
}

.chat-main .bottom .send .ready-to-send {
  transition: opacity 0.2s;
  opacity: 1;
  background: linear-gradient(300deg, #ff7809 0%, #ffc400 59%, #ffe819 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-main .bottom .send .ready-to-send:hover {
  cursor: pointer;
}

.chat-main-min {
  height: 65px;
  bottom: 42px;
}

.chat-main-min .middle {
  height: 0;
}

.chat-main-min .bottom {
  height: 0;
  display: none;
}

.mobile {
  margin: 0 10px;
  width: 100vw;
}

.mobile .top .minimize {
  right: 85px;
}

.mobile .top .close {
  right: 20px;
}
