::-webkit-scrollbar-track:vertical {
  display: none;
  width: 1px;
}

::-webkit-scrollbar:vertical {
  width: 1px;
}

.chat-main {
  background-color: white;
  overflow: hidden;
  position: relative;
  border: 1px solid gray;
  border-radius: 3px;
  height: 400px;
  bottom: 400px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.chat-main .top {
  border-bottom: 1px solid gray;
  height: 30px;
  display: flex;
  align-items: center;
}

.chat-main .top .target-name {
  margin-left: 20px;
  font-size: 1rem;
}

.chat-main .top .minimize {
  position: absolute;
  right: 35px;
  height: 23px;
  width: 23px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main .top .minimize:hover {
  cursor: pointer;
}

.chat-main .top .minimize:hover > .icon {
  color: gray;
}

.chat-main .top .minimize .icon {
  color: #b1b1b1;
  font-size: 1.5rem;
}

.chat-main .top .close {
  position: absolute;
  right: 5px;
  border-radius: 3px;
  height: 23px;
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-main .top .close:hover {
  cursor: pointer;
}

.chat-main .top .close:hover .plank {
  background-color: gray;
}

.chat-main .top .close .plank {
  position: absolute;
  width: 70%;
  background-color: #b1b1b1;
  height: 3px;
  border-radius: 2px;
}

.chat-main .top .close .plank-1 {
  transform: rotate(45deg);
}

.chat-main .top .close .plank-2 {
  transform: rotate(135deg);
}

.chat-main .middle {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  margin-right: 2px;
}

.chat-main .middle .scroll-bar > div:nth-child(1) {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding-bottom: 20px;
  position: relative;
}

.chat-main .middle .scroll-bar > div:nth-child(2) {
  display: none !important;
}

.chat-main .middle .scroll-bar > div:nth-child(3) {
  display: none !important;
}

.chat-main .middle .scroll-bar .middle-content {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 5px;
  margin-right: 7px;
}

.chat-main .bottom {
  padding-top: 3px;
  margin: 0 5px;
}

.chat-main .bottom .txt-area-core {
  padding: 8px 5px 5px 10px;
  font-family: "MuseoModerno", cursive;
  overflow-wrap: normal;
  white-space: pre-line;
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.2rem;
  color: #323232;
  outline: none;
  border: 1px solid gray;
  border-radius: 20px;
  width: 100%;
  display: block;
  resize: none;
  max-height: 200px;
  min-height: 34px;
}

.chat-main .bottom .txt-area-core:active {
  outline: none;
}

.chat-main .bottom .txt-area-core:focused {
  outline: none;
}

.chat-main .bottom .under-text-area {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat-main .bottom .under-text-area .send {
  margin-right: 10px;
  border: 1px solid #7b9fc0;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main .bottom .under-text-area .send:hover {
  cursor: pointer;
}

.chat-main-min {
  height: 35px;
  bottom: 30px;
}

.chat-main-min .middle {
  height: 0;
}

.chat-main-min .bottom {
  height: 0;
}
