::-webkit-scrollbar {
	// background: transparent;
	width: 2px;
}

::-webkit-scrollbar:vertical {
	width: 2px;
}
// ::-webkit-scrollbar-thumb:vertical:window-inactive {
// 	width: 2px;
// }
::-webkit-scrollbar-track:vertical {
	display: none;
	width: 2px;
}
// ::-webkit-scrollbar-track:vertical:active {
// 	// display: none;
// 	width: 5px;
// }

.chat-main {
	background-color: white;
	// position: fixed;
	// position: absolute;
	overflow: hidden;
	position: relative;
	// border: 1px solid rgb(196, 196, 196);
	box-shadow: 0 0 3px 1px lightgray;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	// width: 250px;
	height: 320px;
	bottom: 320px;
	margin-right: 5px;
	z-index: 10;
	width: 250px;
	// margin-right: 10px;

	display: flex;
	flex-direction: column;
	.top {
		border-bottom: 1px solid lightgray;
		height: 45px;
		display: flex;
		align-items: center;
		transition: background-color 0.2s;
		&:hover {
			background-color: rgb(235, 235, 235);
			transition: background-color 0.2s;
		}
		.target-name {
			margin-left: 20px;
			font-size: 1rem;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
		.minimize {
			position: absolute;
			right: 35px;
			height: 23px;
			width: 23px;
			// border: 1px solid rgb(177, 177, 177);
			border-radius: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				cursor: pointer;
				& > .icon {
					color: gray;
				}
			}
			.icon {
				color: rgb(177, 177, 177);
				font-size: 1.5rem;
			}
		}
		.close {
			position: absolute;
			// top: 5px;
			right: 5px;
			// border: 1px solid rgb(177, 177, 177);
			border-radius: 3px;
			height: 23px;
			width: 23px;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				cursor: pointer;
				// border-color: gray;
				.plank {
					background-color: gray;
				}
			}
			.plank {
				position: absolute;
				width: 70%;
				background-color: rgb(177, 177, 177);
				height: 3px;
				border-radius: 2px;
			}
			.plank-1 {
				transform: rotate(45deg);
			}
			.plank-2 {
				transform: rotate(135deg);
			}
		}
	}
	.middle {
		// border: 1px solid red;
		position: relative;
		// margin: 0 10px;
		// padding: 0 10px;
		flex-grow: 1;
		overflow: hidden;
		margin-right: 0px;
		.scroll-bar {
			& > div:nth-child(1) {
				overflow-y: auto !important;
				overflow-x: hidden !important;
				padding-bottom: 20px;
				position: relative;
			}
			& > div:nth-child(2) {
				// display: none !important;
			}
			& > div:nth-child(3) {
				// display: none !important;
			}
			.middle-content {
				// border: 1px solid blue;
				display: flex;
				flex-direction: column;
				padding: 0 10px 0 5px;
				margin-right: 7px;
			}
		}
	}

	.bottom {
		// padding: 5px;
		border-top: 1px solid lightgray;
		background-color: transparent;
		padding: 3px 5px 0 5px;
		.txt-area-core {
			padding: 8px 5px 5px 10px;

			font-family: "MuseoModerno", cursive;
			overflow-wrap: normal;
			white-space: pre-line;
			line-height: 1.2rem;
			font-size: 0.9rem;
			letter-spacing: 0.02rem;
			word-spacing: 0.2rem;
			color: rgb(50, 50, 50);
			outline: none;

			border: 1px solid lightgray;
			border-radius: 20px;
			width: 100%;
			// height: 100%;
			display: block;
			resize: none;
			max-height: 200px;
			min-height: 34px;
			&:active {
				outline: none;
			}
			&:focused {
				outline: none;
			}
		}
		.under-text-area {
			position: relative;
			height: 40px;
			// border-top: 1px solid gray;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.send {
				margin-right: 10px;
				border: 1px solid rgb(123, 159, 192);
				border-radius: 3px;
				width: 100px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
.chat-main-min {
	height: 35px;
	bottom: 30px;
	.middle {
		height: 0;
	}
	.bottom {
		height: 0;
	}
}
.mobile {
	margin: 0 10px;
	width: 100vw;
}
