.msg-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.msg-wrap .msg {
  position: relative;
  opacity: 0;
  max-width: 90%;
  word-wrap: break-word;
  border-radius: 18px;
  padding: 9px;
  margin-top: 2px;
  letter-spacing: 0.06rem;
  line-height: 1.2rem;
  color: #2e2e2e;
  white-space: pre-line;
  transition: right 0.2s;
}

.msg-wrap .msg .delete {
  width: 30px;
  position: absolute;
  height: 100%;
  top: 0;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.3s;
  animation-name: fadein;
}

.msg-wrap .msg .delete:hover {
  cursor: pointer;
}

.msg-wrap .msg .delete:hover .delete-icon {
  color: #d42222;
  transition: color 0.1s;
}

.msg-wrap .msg .delete .delete-icon {
  color: #cacaca;
  transition: color 0.1s;
}

.msg-wrap .other {
  background-color: #f0f0f0;
  align-self: flex-start;
  left: 0 !important;
}

.msg-wrap .own {
  right: 0px;
  background: linear-gradient(45deg, #24d197 10%, #00be85 100%);
  color: white;
  font-weight: 300;
  align-self: flex-end;
  transition: right 0.2s;
}

.msg-wrap .opacity1 {
  opacity: 1;
  transition: opacity 0.1s;
}

.msg-wrap .close-BR {
  border-bottom-right-radius: 5px;
}

.msg-wrap .close-TR {
  border-top-right-radius: 5px;
}

.msg-wrap .close-BL {
  border-bottom-left-radius: 5px;
}

.msg-wrap .close-TL {
  border-top-left-radius: 5px;
}

.msg-wrap .margin-far {
  margin-bottom: 10px;
}

.msg-wrap .delete-stage {
  right: 30px;
  transition: right 0.2s;
}

.msg-wrap .no-del-stage {
  right: 0px;
  transition: right 0.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
