.msg {
  max-width: 90%;
  word-wrap: break-word;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  letter-spacing: 0.06rem;
}

.other {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.own {
  background-color: #2fa845;
  color: white;
  font-weight: 300;
  align-self: flex-end;
}
