.msg {
	max-width: 90%;
	word-wrap: break-word;
	border-radius: 17px;
	padding: 10px;
	margin-top: 2px;
	letter-spacing: 0.06rem;
	line-height: 1.2rem;
	color: rgb(46, 46, 46);
	white-space: pre-line;
}
.other {
	// border: 1px solid red;
	background-color: rgb(240, 240, 240);
	// margin-left: 15px;
	// margin-right: auto;
	align-self: flex-start;
}
.own {
	// border: 1px solid green;
	// background-color: rgb(47, 168, 69);
	background: linear-gradient(
		45deg,
		rgb(15, 197, 121) 10%,
		rgb(1, 190, 133) 100%
	);
	color: white;
	font-weight: 300;
	// align-self: flex-end;
	// margin-right: 15px;
	// margin-left: auto;
	align-self: flex-end;
}
