@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
$colorPrimary: white;
$colorTone: rgb(115, 172, 98);

$singleInputWrapper-height-full: calc(47px + 1.5rem);
$singleInputWrapper-height-800: calc(37px + 1.5rem);
$singleInputWrapper-height-600: calc(30px + 1.2rem);

.form-wrapper {
	// border: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.input-expand {
		animation: animation-expand;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}
	.input-collapse {
		animation: animation-collapse;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}

	h1 {
		position: absolute;
		align-self: flex-start;
		top: 0;
		margin-left: 20px;
		margin-bottom: 50px;
		font-family: "MuseoModerno", cursive;
		font-weight: 300;
		font-size: 2rem;
		color: $colorPrimary;
		z-index: 1;
	}
	.inputs-wrapper {
		position: relative;
		width: 80%;
		// border: 1px solid red;
		.single-input-wrapper {
			position: relative;
			border-bottom: 1px solid $colorPrimary;
			height: $singleInputWrapper-height-full;
			// border: 1px solid red;

			.single-input-wrapper-subIcon {
				position: absolute;
				height: 100%;
				right: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				// border: 1px solid red;
			}
		}

		.txt-input {
			padding: 20px 0px;
			overflow: hidden;

			width: 100%;
			border-bottom: 1px solid $colorPrimary;
			color: white !important;
			// border: 1px orange solid;
		}
		.txt-input input {
			font-family: "MuseoModerno", cursive;
			font-size: 1.5rem;
			color: white !important;
			padding-left: 20px;
			margin-right: 40px;
		}
		.forma {
			position: relative;
			.radio {
				position: absolute;
				display: flex;
				align-items: center;
				height: 100%;
				width: 35px;
				border-bottom: 1px solid white;

				.radio-ring {
					display: flex;
					justify-content: center;
					align-items: center;

					height: 25px;
					width: 25px;

					border-radius: 50%;
					border: 2px solid $colorPrimary;
					opacity: 0.5;
					transition: 0.1s;

					&:hover {
						cursor: pointer;
						transition: 0.1s;
					}
					&:hover .radio-ring-inside {
						opacity: 0.5;
						transition: 0.2s;
					}
					.radio-ring-inside {
						height: 11px;
						width: 11px;
						border-radius: 50%;
						opacity: 0;
						background-color: $colorPrimary;
						transition: 0.2s;
					}
				}
			}
			.text-area {
				overflow: auto;
				padding: 20px 15px 10px 45px;
				max-height: 30vh;
				min-height: 100px;
				color: $colorPrimary !important;

				font-family: "MuseoModerno", cursive;
				font-size: 1.2rem;
				letter-spacing: 0.15rem;
				word-spacing: 0.3rem;
				line-height: 1.5rem;

				outline: none;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid $colorPrimary;

				background-color: rgba(0, 0, 0, 0) !important;
				&::-webkit-resizer {
					display: none;
				}
				&:focus {
					border-radius: 0;
					// border-bottom: 1px solid $colorPrimary;
				}
			}

			.batonas {
				width: 50%;
				padding: 24px;
				border-radius: 0;
				border-bottom: 1px solid $colorPrimary;
				color: rgb(190, 190, 190);
				background-color: rgba(0, 0, 0, 0) !important;

				.visible {
					color: $colorPrimary !important;
					font-size: 1.2rem;
					letter-spacing: 0.2rem;
				}
				&:hover {
					color: $colorPrimary;
				}
				&:active {
					color: $colorPrimary;
				}
				&:focus {
					color: $colorPrimary;
				}
			}
			/////   GLOBAL EXTRA CLASS
			.left35 {
				left: 35px;
				width: calc(50% - 35px);
			}
			.iconas-grey {
				position: absolute;
				top: 20px;
				color: $colorPrimary !important;
				opacity: 0.6 !important;
				transition: 0.2s;
			}
			.iconas-white {
				position: absolute;
				top: 20px;
				color: $colorPrimary !important;
				opacity: 1;
				transition: 0.2s;
			}
		}

		.icon-fade {
			color: $colorPrimary;
			opacity: 0.7;
			transition: opacity 0.2s;
		}
		.icon-bright {
			color: $colorPrimary;
			opacity: 1;
			transition: opacity 0.2s;
		}
		.log-reg-switch {
			margin-top: 10px;
			margin-left: 20px;
			color: $colorPrimary;
			opacity: 0.8;
			span {
				font-weight: bold;
				cursor: pointer;
				color: $colorTone;
			}
		}
	}
}

@keyframes animation-expand {
	0% {
		// opacity: 0;
		width: 0;
		height: 0;
	}
	25% {
		// opacity: 0.6;
	}
	50% {
		height: $singleInputWrapper-height-full;
		display: none;
		width: 0;
		// opacity: 0.6;
	}
	100% {
		width: 100%;
	}
}
@keyframes animation-collapse {
	0% {
		opacity: 0.6;
		// height: 0;
		width: 100%;
	}
	25% {
		opacity: 0.6;
	}

	50% {
		opacity: 0;
		width: 0;
		display: none;
		height: $singleInputWrapper-height-full;
	}
	100% {
		height: 0px;
		opacity: 0;
	}
}
@media (max-width: 1000px) {
	.form-wrapper {
		h1 {
			font-size: 1.8rem;
		}
	}
}

@media (max-width: 501px) {
	.form-wrapper {
		.inputs-wrapper {
			width: 100%;
			.single-input-wrapper {
				.single-input-wrapper-subIcon {
					right: 20px;
				}
			}
			.forma {
				.batonas {
					width: 100%;
				}
				.left35 {
					width: calc(100% - 35px);
				}
			}
		}
	}
}
////////////////////////////////////////   800
@media (max-height: 800px) {
	.form-wrapper {
		.inputs-wrapper {
			.single-input-wrapper {
				height: $singleInputWrapper-height-800;
			}
			.txt-input {
				padding: 15px 0px;
			}
			.txt-input input {
				font-size: 1.5rem;
			}
			.forma {
				.text-area {
					padding: 18px 18px 10px 45px;
					max-height: 100px;
					min-height: 100px;
					font-size: 1rem;
				}
				.batonas {
					padding: 15px;
				}
				/////   GLOBAL EXTRA CLASS
				.iconas-grey {
					top: 20px;
				}
				.iconas-white {
					top: 20px;
				}
			}
		}
	}
	@keyframes animation-expand {
		0% {
			opacity: 0;
			width: 0;
			height: 0;
		}
		25% {
			opacity: 0.6;
		}
		50% {
			height: $singleInputWrapper-height-800;
			display: none;
			width: 0;
			opacity: 0.6;
		}
		100% {
			width: 100%;
		}
	}
	@keyframes animation-collapse {
		0% {
			opacity: 0.6;
			width: 100%;
		}
		25% {
			opacity: 0.6;
		}
		50% {
			opacity: 0;
			width: 0;
			display: none;
			height: $singleInputWrapper-height-800;
		}
		100% {
			height: 0px;
			opacity: 0;
			// display: none;
		}
	}
}
//////////////////////////////////////    600
@media (max-height: 600px) {
	.form-wrapper {
		h1 {
			font-size: 1.8rem;
		}
		.inputs-wrapper {
			.single-input-wrapper {
				height: $singleInputWrapper-height-600;
			}
			.txt-input {
				padding: 12px 0px;
			}
			.txt-input input {
				font-size: 1.2rem;
			}
			.forma {
				.text-area {
					padding: 12px 18px 10px 45px;
					max-height: 20vh;
					min-height: 60px;
				}
				.batonas {
					padding: 12px;
				}
				.iconas-grey {
					top: 12px;
				}
				.iconas-white {
					top: 12px;
				}
			}
		}
	}
	///////////////// -----  GLOBAL  ANIMATIONS   -----  //////////////////
	@keyframes animation-expand {
		0% {
			opacity: 0;
			width: 0;
			height: 0;
		}
		25% {
			opacity: 0.6;
		}
		50% {
			height: $singleInputWrapper-height-600;
			display: none;
			width: 0;
			opacity: 0.6;
		}
		100% {
			width: 100%;
		}
	}
	@keyframes animation-collapse {
		0% {
			opacity: 0.6;
			// height: 0;
			width: 100%;
		}
		25% {
			opacity: 0.6;
		}

		50% {
			opacity: 0;
			width: 0;
			display: none;
			height: $singleInputWrapper-height-600;
		}
		100% {
			height: 0px;
			opacity: 0;
			// display: none;
		}
	}
}
