@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
$colorPrimary: black;
$colorTone: rgb(62, 134, 61);

$singleInputWrapper-height-full: calc(47px + 1.5rem);
$singleInputWrapper-height-800: calc(37px + 1.5rem);
$singleInputWrapper-height-600: calc(30px + 1.2rem);

.form-wrapper {
	// border: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.input-expand {
		animation: animation-expand;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}
	.input-collapse {
		animation: animation-collapse;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}

	h1 {
		position: absolute;
		align-self: flex-start;
		top: 0;
		margin-left: 20px;
		margin-bottom: 50px;
		font-family: "MuseoModerno", cursive;
		font-weight: 300;
		font-size: 2rem;
		color: $colorPrimary;
		z-index: 1;
		user-select: none;
	}
	.inputs-wrapper {
		position: relative;
		width: 80%;
		// border: 1px solid red;
		.single-input-wrapper {
			position: relative;
			border-bottom: 1px solid $colorPrimary;
			height: $singleInputWrapper-height-full;
			// border: 1px solid red;

			.single-input-wrapper-subIcon {
				position: absolute;
				height: 100%;
				right: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				// border: 1px solid red;
			}
		}

		.txt-input {
			padding: 20px 0px;
			overflow: hidden;
			width: 100%;
			// border-bottom: 1px solid $colorPrimary;
			color: $colorPrimary !important;
			// border: 1px orange solid;
		}
		.txt-input input {
			font-family: "MuseoModerno", cursive;
			font-size: 1.5rem;
			color: $colorPrimary !important;
			padding-left: 20px;
			margin-right: 40px;
		}
		.forma {
			position: relative;
			.text-area {
				position: relative;
				overflow: auto;
				padding: 20px 15px 10px 45px;
				max-height: 35vh;
				min-height: 100px;
				color: $colorPrimary !important;

				font-family: "MuseoModerno", cursive;
				font-size: 1.2rem;
				letter-spacing: 0.15rem;
				word-spacing: 0.3rem;
				line-height: 1.5rem;

				outline: none;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid $colorPrimary;

				background-color: rgba(0, 0, 0, 0) !important;
				&::-webkit-resizer {
					display: none;
				}

				&:focus {
					border-radius: 0;
					// border-bottom: 1px solid $colorPrimary;
				}
				z-index: 1;
			}
			.text-area-resizer {
				position: absolute;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				grid-gap: 1px;
				bottom: 2px;
				// left: 100%;
				right: 0;
				// border: 1px solid grey;
				height: 8px;
				width: 8px;
				z-index: 0;
				.text-area-resizer-sub {
					background-color: black;
				}
				.sub-1 {
					grid-column: 3/3;
					grid-row: 1/1;
				}
				.sub-2 {
					grid-column: 2/2;
					grid-row: 2/2;
				}
				.sub-3 {
					grid-column: 3/3;
					grid-row: 2/2;
				}
				.sub-4 {
					grid-column: 1/1;
					grid-row: 3/3;
				}
				.sub-5 {
					grid-column: 2/2;
					grid-row: 3/3;
				}
				.sub-6 {
					grid-column: 3/3;
					grid-row: 3/3;
				}
			}
			/////   GLOBAL EXTRA CLASS

			.iconas-grey {
				position: absolute;
				top: 20px;
				color: $colorPrimary !important;
				opacity: 0.6 !important;
				transition: 0.2s;
			}
			.iconas-white {
				position: absolute;
				top: 20px;
				color: $colorPrimary !important;
				opacity: 1;
				transition: 0.2s;
			}
		}

		.icon-fade {
			color: $colorPrimary;
			opacity: 0.7;
			transition: opacity 0.2s;
		}
		.icon-bright {
			color: $colorPrimary;
			opacity: 1;
			transition: opacity 0.2s;
		}
		.icon-no-opacity {
			opacity: 0;
			transition: opacity 0.1s;
		}
		.log-reg-switch {
			user-select: none;
			margin-top: 10px;
			margin-left: 20px;
			color: $colorPrimary;
			opacity: 0.8;
			span {
				font-weight: bold;
				cursor: pointer;
				color: $colorTone;
			}
		}
	}
}

@keyframes animation-expand {
	0% {
		// opacity: 0;
		width: 0;
		height: 0;
	}
	25% {
		// opacity: 0.6;
	}
	50% {
		height: $singleInputWrapper-height-full;
		display: none;
		width: 0;
		// opacity: 0.6;
	}
	100% {
		width: 100%;
	}
}
@keyframes animation-collapse {
	0% {
		opacity: 0.6;
		// height: 0;
		width: 100%;
	}
	25% {
		opacity: 0.6;
	}

	50% {
		opacity: 0;
		width: 0;
		display: none;
		height: $singleInputWrapper-height-full;
	}
	100% {
		height: 0px;
		opacity: 0;
	}
}
@media (max-width: 1000px) {
	.form-wrapper {
		h1 {
			font-size: 1.8rem;
		}
	}
	.log-reg-switch {
		font-size: 0.9rem;
	}
}

@media (max-width: 501px) {
	.form-wrapper {
		.inputs-wrapper {
			width: 100%;
			.single-input-wrapper {
				.single-input-wrapper-subIcon {
					right: 20px;
				}
			}
			.forma {
				.left35 {
					width: calc(100% - 35px);
				}
			}
			.log-reg-switch {
				font-size: 0.8rem;
			}
		}
	}
}
////////////////////////////////////////   800
@media (max-height: 800px) {
	.form-wrapper {
		.inputs-wrapper {
			.single-input-wrapper {
				height: $singleInputWrapper-height-800;
			}
			.txt-input {
				padding: 15px 0px;
			}
			.txt-input input {
				font-size: 1.5rem;
			}
			.forma {
				.text-area {
					padding: 18px 18px 10px 45px;
					max-height: 30vh;
					min-height: 100px;
					font-size: 1rem;
				}
				/////   GLOBAL EXTRA CLASS
				.iconas-grey {
					top: 20px;
				}
				.iconas-white {
					top: 20px;
				}
			}
		}
	}
	@keyframes animation-expand {
		0% {
			opacity: 0;
			width: 0;
			height: 0;
		}
		25% {
			opacity: 0.6;
		}
		50% {
			height: $singleInputWrapper-height-800;
			display: none;
			width: 0;
			opacity: 0.6;
		}
		100% {
			width: 100%;
		}
	}
	@keyframes animation-collapse {
		0% {
			opacity: 0.6;
			width: 100%;
		}
		25% {
			opacity: 0.6;
		}
		50% {
			opacity: 0;
			width: 0;
			display: none;
			height: $singleInputWrapper-height-800;
		}
		100% {
			height: 0px;
			opacity: 0;
			// display: none;
		}
	}
}
//////////////////////////////////////    600
@media (max-height: 600px) {
	.form-wrapper {
		h1 {
			font-size: 1.8rem;
		}
		.inputs-wrapper {
			.single-input-wrapper {
				height: $singleInputWrapper-height-600;
			}
			.txt-input {
				padding: 12px 0px;
			}
			.txt-input input {
				font-size: 1.2rem;
			}
			.forma {
				.text-area {
					padding: 12px 18px 10px 45px;
					max-height: 25vh;
					min-height: 60px;
				}
				.iconas-grey {
					top: 12px;
				}
				.iconas-white {
					top: 12px;
				}
			}
		}
	}
	///////////////// -----  GLOBAL  ANIMATIONS   -----  //////////////////
	@keyframes animation-expand {
		0% {
			opacity: 0;
			width: 0;
			height: 0;
		}
		25% {
			opacity: 0.6;
		}
		50% {
			height: $singleInputWrapper-height-600;
			display: none;
			width: 0;
			opacity: 0.6;
		}
		100% {
			width: 100%;
		}
	}
	@keyframes animation-collapse {
		0% {
			opacity: 0.6;
			// height: 0;
			width: 100%;
		}
		25% {
			opacity: 0.6;
		}

		50% {
			opacity: 0;
			width: 0;
			display: none;
			height: $singleInputWrapper-height-600;
		}
		100% {
			height: 0px;
			opacity: 0;
			// display: none;
		}
	}
}
