@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper .input-expand {
  animation: animation-expand;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.form-wrapper .input-collapse {
  animation: animation-collapse;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.form-wrapper h1 {
  position: absolute;
  align-self: flex-start;
  top: 20px;
  margin-left: 45px;
  margin-bottom: 50px;
  font-family: "MuseoModerno", cursive;
  font-weight: 300;
  font-size: 2rem;
  color: black;
  z-index: 1;
  user-select: none;
}

.form-wrapper .inputs-wrapper {
  position: relative;
  width: 80%;
}

.form-wrapper .inputs-wrapper .single-input-wrapper {
  position: relative;
  border-bottom: 1px solid black;
  height: calc(47px + 1.5rem);
}

.form-wrapper .inputs-wrapper .single-input-wrapper .single-input-wrapper-subIcon {
  position: absolute;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper .inputs-wrapper .txt-input {
  padding: 20px 0px;
  overflow: hidden;
  width: 100%;
  color: black !important;
}

.form-wrapper .inputs-wrapper .txt-input input {
  font-family: "MuseoModerno", cursive;
  font-size: 1.5rem;
  color: black !important;
  padding-left: 20px;
  margin-right: 40px;
}

.form-wrapper .inputs-wrapper .forma {
  position: relative;
}

.form-wrapper .inputs-wrapper .forma .text-area {
  position: relative;
  overflow: auto;
  padding: 20px 15px 10px 45px;
  max-height: 35vh;
  min-height: 100px;
  color: black !important;
  font-family: "MuseoModerno", cursive;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  word-spacing: 0.3rem;
  line-height: 1.5rem;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  background-color: transparent !important;
  z-index: 1;
}

.form-wrapper .inputs-wrapper .forma .text-area::-webkit-resizer {
  display: none;
}

.form-wrapper .inputs-wrapper .forma .text-area:focus {
  border-radius: 0;
}

.form-wrapper .inputs-wrapper .forma .text-area-resizer {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  bottom: 2px;
  right: 0;
  height: 8px;
  width: 8px;
  z-index: 0;
}

.form-wrapper .inputs-wrapper .forma .text-area-resizer .text-area-resizer-sub {
  background-color: black;
}

.form-wrapper .inputs-wrapper .forma .text-area-resizer .sub-1 {
  grid-column: 3/3;
  grid-row: 1/1;
}

.form-wrapper .inputs-wrapper .forma .text-area-resizer .sub-2 {
  grid-column: 2/2;
  grid-row: 2/2;
}

.form-wrapper .inputs-wrapper .forma .text-area-resizer .sub-3 {
  grid-column: 3/3;
  grid-row: 2/2;
}

.form-wrapper .inputs-wrapper .forma .text-area-resizer .sub-4 {
  grid-column: 1/1;
  grid-row: 3/3;
}

.form-wrapper .inputs-wrapper .forma .text-area-resizer .sub-5 {
  grid-column: 2/2;
  grid-row: 3/3;
}

.form-wrapper .inputs-wrapper .forma .text-area-resizer .sub-6 {
  grid-column: 3/3;
  grid-row: 3/3;
}

.form-wrapper .inputs-wrapper .forma .iconas-grey {
  position: absolute;
  top: 20px;
  color: black !important;
  opacity: 0.6 !important;
  transition: 0.2s;
}

.form-wrapper .inputs-wrapper .forma .iconas-white {
  position: absolute;
  top: 20px;
  color: black !important;
  opacity: 1;
  transition: 0.2s;
}

.form-wrapper .inputs-wrapper .icon-fade {
  color: black;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.form-wrapper .inputs-wrapper .icon-bright {
  color: black;
  opacity: 1;
  transition: opacity 0.2s;
}

.form-wrapper .inputs-wrapper .icon-no-opacity {
  opacity: 0;
  transition: opacity 0.1s;
}

.form-wrapper .inputs-wrapper .log-reg-switch {
  font-size: 1.1rem;
  user-select: none;
  margin-top: 10px;
  margin-left: 20px;
  color: black;
}

.form-wrapper .inputs-wrapper .log-reg-switch span {
  font-weight: bold;
  cursor: pointer;
  color: #3e863d;
}

@keyframes animation-expand {
  0% {
    width: 0;
    height: 0;
  }
  25% {
  }
  50% {
    height: calc(47px + 1.5rem);
    display: none;
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes animation-collapse {
  0% {
    opacity: 0.6;
    width: 100%;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0;
    width: 0;
    display: none;
    height: calc(47px + 1.5rem);
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .form-wrapper h1 {
    font-size: 1.8rem;
  }
  .log-reg-switch {
    font-size: 0.9rem;
  }
}

@media (max-width: 501px) {
  .form-wrapper .inputs-wrapper {
    width: 100%;
  }
  .form-wrapper .inputs-wrapper .single-input-wrapper .single-input-wrapper-subIcon {
    right: 20px;
  }
  .form-wrapper .inputs-wrapper .forma .left35 {
    width: calc(100% - 35px);
  }
  .form-wrapper .inputs-wrapper .log-reg-switch {
    font-size: 0.8rem;
  }
}

@media (max-height: 800px) {
  .form-wrapper .inputs-wrapper .single-input-wrapper {
    height: calc(37px + 1.5rem);
  }
  .form-wrapper .inputs-wrapper .txt-input {
    padding: 15px 0px;
  }
  .form-wrapper .inputs-wrapper .txt-input input {
    font-size: 1.5rem;
  }
  .form-wrapper .inputs-wrapper .forma .text-area {
    padding: 18px 18px 10px 45px;
    max-height: 30vh;
    min-height: 100px;
    font-size: 1rem;
  }
  .form-wrapper .inputs-wrapper .forma .iconas-grey {
    top: 20px;
  }
  .form-wrapper .inputs-wrapper .forma .iconas-white {
    top: 20px;
  }
  @keyframes animation-expand {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    25% {
      opacity: 0.6;
    }
    50% {
      height: calc(37px + 1.5rem);
      display: none;
      width: 0;
      opacity: 0.6;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes animation-collapse {
    0% {
      opacity: 0.6;
      width: 100%;
    }
    25% {
      opacity: 0.6;
    }
    50% {
      opacity: 0;
      width: 0;
      display: none;
      height: calc(37px + 1.5rem);
    }
    100% {
      height: 0px;
      opacity: 0;
    }
  }
}

@media (max-height: 600px) {
  .form-wrapper h1 {
    font-size: 1.8rem;
  }
  .form-wrapper .inputs-wrapper .single-input-wrapper {
    height: calc(30px + 1.2rem);
  }
  .form-wrapper .inputs-wrapper .txt-input {
    padding: 12px 0px;
  }
  .form-wrapper .inputs-wrapper .txt-input input {
    font-size: 1.2rem;
  }
  .form-wrapper .inputs-wrapper .forma .text-area {
    padding: 12px 18px 10px 45px;
    max-height: 25vh;
    min-height: 60px;
  }
  .form-wrapper .inputs-wrapper .forma .iconas-grey {
    top: 12px;
  }
  .form-wrapper .inputs-wrapper .forma .iconas-white {
    top: 12px;
  }
  @keyframes animation-expand {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    25% {
      opacity: 0.6;
    }
    50% {
      height: calc(30px + 1.2rem);
      display: none;
      width: 0;
      opacity: 0.6;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes animation-collapse {
    0% {
      opacity: 0.6;
      width: 100%;
    }
    25% {
      opacity: 0.6;
    }
    50% {
      opacity: 0;
      width: 0;
      display: none;
      height: calc(30px + 1.2rem);
    }
    100% {
      height: 0px;
      opacity: 0;
    }
  }
}
