@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  user-select: none;
  box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
}

body {
  position: relative;
}

.landing-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 20px;
  height: 100vh;
  min-height: 600px;
  background: linear-gradient(45deg, #011627 10%, #3e863d 100%);
  background-size: cover;
  background-position: center;
  font-weight: 300;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}

.landing-main .top-bar-shader {
  position: relative;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.landing-main .top-bar-shader .box {
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  transition: 0.7s;
  min-width: 40px;
  border-left: 1px solid white;
  mix-blend-mode: soft-light;
}

.landing-main .title {
  text-align: center;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.landing-main .title div {
  width: 790px;
  margin-top: 30px;
  position: relative;
  white-space: pre-wrap;
}

.landing-main .title h1 {
  font-size: 2.8rem;
  margin: 0;
  color: white;
  font-family: "MuseoModerno", cursive;
}

.landing-main .title .simas {
  font-weight: 200;
  font-size: 1.5rem;
}

.landing-main .title .full-stack {
  z-index: 1;
}

.landing-main .title .full-stack-second {
  z-index: 0;
  top: 3px;
  left: 3px;
  position: absolute;
  color: white;
  mix-blend-mode: soft-light;
}

.landing-main .landing-box {
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  display: grid;
  height: 65vh;
  min-height: 320px;
  margin-top: 220px;
  padding: 40px 0px 15px 0px;
  background-color: white;
}

.landing-main .landing-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-main .box-1 {
  padding: 40px 15px 15px 15px;
  margin-left: 2vw;
  margin-right: 1vw;
}

.landing-main .box-2 {
  margin-left: 1vw;
  margin-right: 2vw;
}

.landing-main .box-3 {
  display: none;
  margin-left: 1vw;
  margin-right: 2vw;
}

.landing-main .box-content {
  position: relative;
  display: grid;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.landing-main .box-content .Scrollbars > div:nth-child(1) {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.landing-main .box-content .Scrollbars > div:nth-child(2) {
  display: none !important;
}

.landing-main .box-content p {
  color: black;
  margin: 0 5px 0 0;
  user-select: none;
}

.landing-main .box-content .form-navigaror {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 120px;
  height: 30px;
  margin-left: calc(50% - 60px);
}

.landing-main .box-content .form-navigaror .form-navigator-button-hide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.landing-main .box-content .form-navigaror .form-navigator-button-hide:hover {
  cursor: pointer;
}

.landing-main .box-content .form-navigaror .form-navigator-button-hide.form-navigator-button-hide:hover > .form-navigator-button {
  box-shadow: 0px 0px 3px 3px rgba(100, 99, 77, 0.2);
  transform: scale(2);
  transition: transform 0.2s;
}

.landing-main .box-content .form-navigaror .form-navigator-button-hide .form-navigator-button {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transition: transform 0.4s;
  background-color: black;
}

.landing-main .mobile-navigator {
  display: none;
}

.footer {
  grid-column: 1/3;
  bottom: 0;
  height: 100%;
  min-height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  user-select: none;
}

.footer p {
  z-index: 1;
  user-select: text;
  color: white;
}

@media (max-width: 1568px) {
  .landing-main .landing-box .informacione {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .landing-main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 20px;
    height: calc(240vh + 425px);
    overflow: hidden;
  }
  .landing-main .title div {
    width: 360px;
  }
  .landing-main .title .full-stack {
    font-size: 2rem;
  }
  .landing-main .title .full-stack-second {
    font-size: 2rem;
  }
  .landing-main .landing-box {
    height: 80vh;
    margin: 0;
  }
  .landing-main .landing-box .box-content {
    display: grid;
  }
  .landing-main .landing-box .box-content .informacione {
    grid-template-columns: 1fr;
  }
  .landing-main .landing-box .box-content .form-navigaror {
    display: none;
  }
  .landing-main .box-1 {
    margin-top: 300px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #72aa62;
    margin-bottom: 30px;
  }
  .landing-main .box-2 {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #72aa62;
    margin-bottom: 30px;
  }
  .landing-main .box-2 .box-content .form-wrapper:nth-child(2) {
    display: none;
  }
  .landing-main .box-2 > div:nth-child(3) {
    display: none;
  }
  .landing-main .box-3 {
    display: grid;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80px;
    border-bottom: 1px solid #72aa62;
    padding: 40px 15px 15px 15px;
  }
  .landing-main .box-padding {
    padding: 40px 15px 15px 15px;
  }
  .landing-main .footer {
    z-index: 100;
    position: absolute;
    height: 50px;
    width: 100%;
  }
}

.thumb-vertical {
  border-right: 1px solid rgba(47, 107, 56, 0.8);
  position: absolute;
  left: 7px;
  width: 1px;
}

.pulsating-circle {
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transform: scale(2);
}

.pulsating-circle:before {
  content: "";
  display: block;
  position: relative;
  width: 300%;
  height: 300%;
  margin-left: -100%;
  margin-top: -100%;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #3e863d;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 105%;
  height: 105%;
  border-radius: 50%;
  background-color: #3e863d;
  box-shadow: 0 0 3px #3e863d;
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  z-index: 1;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
