.landing-logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.landing-logged .logged-title {
  color: white;
  font-size: 1.3rem;
}

.landing-logged .logged-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
}

.landing-logged .logged-button-wrapper .logged-button-return {
  text-align: center;
  padding: 0 1rem 0.2rem 1rem;
  color: white;
  cursor: pointer;
}

.landing-logged .logged-button-wrapper .logged-button-logout {
  text-align: center;
  padding: 0 1rem 0.2rem 1rem;
  color: white;
  cursor: pointer;
}
