* {
	box-sizing: border-box;
}
body {
	overflow: hidden;
}
.parallax {
	display: none;
}
.landing-main {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	// border: 1px solid red;
	// background-color: black;
	background-image: url("../../../img/bg.jpg");
	background-size: cover;
	background-position: center;

	.landing-box {
		// border: 1px solid orange;
		display: grid;
		height: 70vh;
		min-height: 320px;
		margin-top: auto;
		margin-bottom: auto;
		padding: 40px 15px 15px 15px;
		background-color: lightgray;
	}
	.box-1 {
		// instance of one of .landing-box
		margin-left: 2vw;
		margin-right: 1vw;
	}
	.box-2 {
		// instance of one of .landing-box
		margin-left: 1vw;
		margin-right: 2vw;
	}
	.box-3 {
		// instance of one of .landing-box
		display: none;
	}
	.box-content {
		overflow: hidden;
		position: relative;
		height: 100%;
		// border: 1px solid gray;
		background-color: gray;

		.form-navigaror {
			position: absolute;
			display: flex;
			justify-content: space-between;
			bottom: 0;
			width: 80px;
			height: 30px;
			margin-left: 45%;

			border: 1px solid white;

			.form-navigator-button-hide {
				// border: 1px solid red;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 30px;

				&:hover {
					cursor: pointer;
				}

				&.form-navigator-button-hide:hover > .form-navigator-button {
					box-shadow: 0px 0px 3px 3px rgba(100, 99, 77, 0.2);
					transform: scale(2);
					transition: transform 0.2s;
				}

				.form-navigator-button {
					height: 5px;
					width: 5px;
					border-radius: 50%;
					transition: transform 0.4s;
					background-color: rgb(254, 254, 237);
				}
			}
		}
	}
	.mobile-navigator {
		display: none;
	}
}
//////////////////////////////////////  --- MEDIA ---
@media (max-width: 1000px) {
	.landing-main {
		.landing-box {
			.form-navigaror {
				margin-left: 40%;
			}
		}
	}
}
@media (max-width: 768px) {
	.parallax {
		position: absolute;
		display: block;
		height: 180vh;
		width: 100vw;
		z-index: -1;

		background-image: url("../../../img/bg.jpg");
		background-size: cover;
		background-position: center;
	}
	.landing-main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: 300vh;
		background-image: none;

		.landing-box {
			// border: 1px solid orange;
			height: 85vh;
			min-height: 320px;
			margin-top: auto;
			margin-bottom: auto;

			background-color: lightgray;
			.box-content {
				display: grid;
				.form-navigaror {
					display: none;
				}
			}
		}
		.box-1 {
			margin-left: 2vw;
			margin-right: 2vw;
		}
		.box-2 {
			margin-left: 2vw;
			margin-right: 2vw;
		}

		.box-3 {
			display: block;
			margin-left: 2vw;
			margin-right: 2vw;
		}
		.mobile-navigator {
			position: fixed;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 25px;
			height: 33vh;
			right: 0;
			top: 33vh;
			border: 1px solid white;
			.mobile-navigator-button-hide {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;

				border: 1px solid white;

				&.mobile-navigator-button-hide:hover > .mobile-navigator-button {
					transform: scale(2);
					transition: transform 0.2s;
				}

				.mobile-navigator-button {
					height: 5px;
					width: 5px;
					margin-right: 5px;
					border-radius: 50%;
					background-color: white;
					transition: transform 0.4s;
				}
			}
		}
	}
}
////////////////////////     ----   GLOBAL CLASS   -----
.pulsating-circle {
	width: 30px;
	height: 30px;
	opacity: 1;
	transform: translateX(-50%) translateY(-50%);
	transform: scale(2);

	&:before {
		content: "";
		display: block;
		position: relative;

		width: 300%;
		height: 300%;
		margin-left: -100%;
		margin-top: -100%;
		box-sizing: border-box;

		border-radius: 45px;
		background-color: #01a4e9;
		animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background-color: white;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
	}
}

//////////////// -----    ANIMATIONS   -----

@keyframes pulse-ring {
	0% {
		transform: scale(0.33);
	}
	80%,
	100% {
		opacity: 0;
	}
}

@keyframes pulse-dot {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}

@keyframes pulse-ring {
	0% {
		transform: scale(0.33);
	}
	80%,
	100% {
		opacity: 0;
	}
}

@keyframes pulse-dot {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}
