.site-presentation {
	letter-spacing: 0.07rem;
	margin-right: 10px;
	.under-construction {
		background-image: url(../../../img/construction.png);
		height: 300px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		padding-top: 20px;
	}
	.informacione {
		background-color: white;
		display: grid;
		grid-template-columns: auto auto auto auto;
		width: 100%;
		.logo {
			margin: 0;
		}

		.mongo {
			margin: auto;
			height: 100px;
			width: 190px;
			background-image: url("../../../img/mongo.png");
			background-size: cover;
			background-position: center;
		}
		.express {
			margin: auto;
			height: 70px;
			width: 220px;
			background-image: url("../../../img/express.png");
			background-size: cover;
			background-position: center;
		}
		.react {
			// border: 1px solid blue;
			margin: auto;
			height: 100px;
			width: 100px;
			background-image: url("../../../img/react.png");
			background-size: cover;
			background-position: center;
			// transform: scale(0.5);
			animation: rotation 12s infinite linear;
		}
		.node {
			margin: auto;
			height: 100px;
			width: 162px;
			background-image: url("../../../img/node.png");
			background-size: cover;
			background-position: center;
		}
	}
	.technologies {
		// border: 1px solid red;
		background-color: white;
		display: grid;
		grid-template-columns: auto auto auto auto;
		width: 100%;
		.logo {
			margin: 0;
			// border: 1px solid red;
		}
		.graphql {
			margin: auto;
			height: 100px;
			width: 100px;
			background-image: url("../../../img/graphql.svg");
			background-size: cover;
			background-position: center;
		}
		.router {
			margin: auto;
			height: 85px;
			width: 156px;
			background-image: url("../../../img/router.svg");
			background-size: cover;
			background-position: center;
		}
		.mongoose {
			margin: auto;
			height: 80px;
			width: 175px;
			background-image: url("../../../img/mongoose.jpg");
			background-size: cover;
			background-position: center;
		}
		.sass {
			margin: auto;
			height: 100px;
			width: 134px;
			background-image: url("../../../img/sass.svg");
			background-size: cover;
			background-position: center;
		}
	}

	.bolder {
		font-weight: 500;
	}
	.user-select {
		user-select: text;
	}
	.br {
		margin: 0.6rem;
	}
	.source-code {
		display: flex;
		align-items: center;
		justify-items: center;
		span {
			margin-right: 5px;
		}
		.git {
			color: black;
			font-size: 2rem;
		}
	}

	.the-end {
		text-align: center;
		font-size: 1.7rem;
		opacity: 0.7;
		// padding: 50px auto;
	}
}
@media (max-width: 1568px) {
	.site-presentation {
		.technologies {
			grid-template-columns: auto auto;
		}
	}
}
@media (max-width: 768px) {
	.site-presentation {
		.technologies {
			grid-template-columns: auto;
			.logo {
				margin-bottom: 20px;
			}
		}
	}
}
