.main .top-bar {
  overflow: hidden;
  position: relative;
  height: 450px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background: #011627;
  background: linear-gradient(45deg, #011627 10%, #3e863d 100%);
}

.main .top-bar .top-bar-content {
  position: relative;
  flex-grow: 1;
  max-width: 1024px;
}

.main .top-bar .top-bar-content h1 {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.main .top-bar .top-bar-content .h1-main {
  z-index: 1;
  top: 10px;
  left: 60px;
  position: absolute;
  font-family: "MuseoModerno", cursive;
  color: white;
}

.main .top-bar .top-bar-content .h1-second {
  z-index: 0;
  top: -12px;
  left: 63px;
  position: absolute;
  font-family: "MuseoModerno", cursive;
  color: white;
  mix-blend-mode: soft-light;
}

.main .top-bar .top-bar-content .exit {
  position: relative;
  top: 12px;
  float: right;
  z-index: 2;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main .top-bar .top-bar-content .exit:hover .exit-icon {
  opacity: 1;
}

.main .top-bar .top-bar-content .exit .exit-icon {
  z-index: 2;
  user-select: none;
  top: 15px;
  right: 15px;
  color: white;
  opacity: 0.5;
  transition: ease-in-out 0.3s opacity;
  margin-right: 4px;
}

.main .top-bar .top-bar-content .nav-links {
  font-family: "MuseoModerno", cursive;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 80px;
  width: 100%;
  height: 80px;
  height: 50px;
  display: flex;
  padding-left: 20px;
}

.main .top-bar .top-bar-content .nav-links .nav-links-box {
  width: 70px;
  z-index: 1;
  margin: 0 80px 0px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .top-bar .top-bar-content .nav-links .nav-links-box:hover {
  cursor: pointer;
}

.main .top-bar .top-bar-content .nav-links .nav-links-box .nav-links-icon {
  font-size: 22px;
  opacity: 0.7;
  transition: 0.3s;
}

.main .top-bar .top-bar-content .nav-links .nav-links-box .nav-links-icon-path {
  opacity: 1;
  transform: scale(1.5);
}

.main .top-bar .top-bar-content .nav-links .nav-links-box .nav-links-icon-hover:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.main .top-bar .top-bar-shader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.main .top-bar .top-bar-shader .box {
  z-index: 1;
  opacity: 0.2;
  transition: 0.7s;
  min-width: 40px;
  border-left: 1px solid white;
  mix-blend-mode: soft-light;
}

.main .wave {
  position: absolute;
  width: 100%;
  height: 200px;
  border: 1px solid red;
}

.main .App {
  z-index: 2;
  position: relative;
  max-width: 1024px;
  margin: auto;
  top: -310px;
  background-color: white;
  border-radius: 20px;
}

.main .App .message-notification {
  position: absolute;
  top: -20px;
  right: calc(2vw + 80px);
  height: 42px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: grey 0 0 4px;
  z-index: 12;
}

.main .App .message-notification .message-notification-icon {
  margin: auto;
}

.main .App .message-notification:hover {
  background-color: #f7f7f7;
}

@media (max-width: 768px) {
  .main .top-bar .top-bar-content .nav-links {
    grid-template-columns: 1fr 8fr 150px;
  }
  .main .top-bar .top-bar-content h1 {
    font-size: 1.5rem;
  }
  .main .top-bar .top-bar-content .nav-links .fill-2 div p {
    display: none;
  }
  .main .top-bar .top-bar-content .nav-links .fill-2 div .iconas {
    display: block;
  }
  .fill-2 {
    display: none;
  }
}
