// @import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
// Utilities
@import "./utilities/_variables";

.main {
	// max-width: 100vw;
	// border: 1px solid blue;
	height: 500px;
	.top-bar {
		overflow: hidden;
		position: relative;
		height: 450px;
		// border: 2px green solid;
		display: flex;
		justify-content: center;
		background-size: cover;
		background-position: center;
		background: #011627;
		background: linear-gradient(45deg, #011627 10%, $nodeDark 100%);
		.top-bar-content {
			position: relative;
			// display: flex;
			// justify-content: center;
			// align-items: center;

			flex-grow: 1;
			// border: 2px solid black;
			max-width: 1024px;
			h1 {
				font-size: 2.2rem;
				letter-spacing: 0.1rem;
			}

			.h1-main {
				z-index: 1;
				top: 10px;
				left: 60px;
				position: absolute;
				font-family: "MuseoModerno", cursive;
				color: white;
			}
			.h1-second {
				z-index: 0;
				top: -12px;
				left: 63px;
				position: absolute;
				font-family: "MuseoModerno", cursive;
				color: white;
				// mix-blend-mode: overlay;
				mix-blend-mode: soft-light;
			}
			.exit {
				position: relative;
				top: 11px;
				float: right;
				z-index: 2;
				// border: 1px solid red;
				width: 70px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				&:hover .exit-icon {
					opacity: 1;
				}
				.exit-icon {
					z-index: 2;
					user-select: none;
					// position: absolute;
					top: 15px;
					right: 15px;
					color: white;
					opacity: 0.5;
					transition: ease-in-out 0.3s opacity;

					margin-right: 4px;
				}
			}

			.nav-links {
				font-family: "MuseoModerno", cursive;
				color: white;
				font-weight: 500;
				position: absolute;
				top: 80px;

				width: 100%;
				height: 80px;
				// border: 1px solid blue;
				height: 50px;
				display: flex;

				padding-left: 20px;
				.nav-links-box {
					width: 70px;
					z-index: 1;
					// border: 1px solid black;
					margin: 0 80px 0px 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					&:hover {
						cursor: pointer;
					}
					.nav-links-icon {
						font-size: 22px;
						opacity: 0.7;
						transition: 0.3s;
						// &:hover {
						// 	opacity: 0.8;
						// 	transform: scale(1.2);
						// }
					}
					.nav-links-icon-path {
						opacity: 1;
						transform: scale(1.5);
					}
					.nav-links-icon-hover {
						&:hover {
							opacity: 0.8;
							transform: scale(1.2);
						}
					}
				}
			}
		}
		.top-bar-shader {
			position: absolute;
			height: 100%;
			width: 100%;
			// border: 5px solid black;
			display: flex;
			.box {
				z-index: 1;
				opacity: 0.2;
				transition: 0.7s;
				min-width: 40px;
				border-left: 1px solid white;
				// mix-blend-mode: overlay;
				mix-blend-mode: soft-light;
				// &:hover {
				// 	opacity: 0.8;
				// 	transition: 0.2s;
				// }
			}
		}
	}
	.wave {
		position: absolute;
		width: 100%;
		height: 200px;
		border: 1px solid red;
	}
	.App {
		z-index: 2;
		position: relative;
		max-width: 1024px;
		margin: auto;
		padding-top: 1px;
		top: -310px;
		background-color: white;
		min-height: 400px;
		// margin-bottom: 310px;
		// border-radius: 20px;
		// overflow: hidden;
		// border: 1px solid red;
		.message-notification {
			position: absolute;
			top: -20px;
			right: calc(2vw + 80px);
			height: 42px;
			width: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			background-color: white;
			box-shadow: grey 0 0 4px;
			z-index: 12;
			.message-notification-icon {
				margin: auto;
			}
			&:hover {
				background-color: rgb(247, 247, 247);
			}
		}
	}
}

@media (max-width: 768px) {
	.main {
		.top-bar {
			// border: 1px solid red;
			.top-bar-content {
				h1 {
					font-size: 1.7rem;
				}
				.h1-main {
					left: 10px;
					top: 14px;
				}
				.h1-second {
					left: 12px;
					top: -8px;
				}
				.nav-links {
					font-family: "MuseoModerno", cursive;
					color: white;
					font-weight: 500;
					position: absolute;
					top: 80px;

					width: 100%;
					height: 80px;
					// border: 1px solid blue;
					height: 50px;

					padding-left: 5px;
					.nav-links-box {
						width: 30px;
						margin: 0 60px 0px 0;
						.nav-links-icon {
							font-size: 20px;
						}
					}
				}
			}
		}
	}

	.fill-2 {
		display: none;
	}
}
