.main .top-bar {
  height: 200px;
  display: flex;
  justify-content: center;
  background-image: url("../../img/bg.jpg");
  background-size: cover;
  background-position: center;
}

.main .top-bar .top-bar-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 1024px;
}

.main .top-bar .top-bar-content .nav-links {
  font-family: "MuseoModerno", cursive;
  color: white;
  font-weight: 500;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 8fr 200px;
  flex-grow: 1;
  max-width: 100%;
  height: 2rem;
}

.main .top-bar .top-bar-content .nav-links .fill-1 {
  display: flex;
  align-items: center;
}

.main .top-bar .top-bar-content .nav-links .fill-1 .nav-icon {
  cursor: pointer;
}

.main .top-bar .top-bar-content .nav-links .fill-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .top-bar .top-bar-content .nav-links .fill-2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  cursor: pointer;
}

.main .top-bar .top-bar-content .nav-links .fill-2 div .iconas {
  display: none;
}

.main .top-bar .top-bar-content h1 {
  top: 10px;
  left: 60px;
  position: absolute;
  font-family: "MuseoModerno", cursive;
  color: white;
}

.main .top-bar .top-bar-content .exit-icon {
  user-select: none;
  position: absolute;
  top: 21px;
  right: 0;
  color: grey;
  transition: ease-in-out 0.3s color;
  cursor: pointer;
}

.main .top-bar .top-bar-content .exit-icon:hover {
  color: #c8c8c8;
}

.main .App {
  position: relative;
  max-width: 1024px;
  margin: auto;
  top: -80px;
  background-color: white;
  border-radius: 20px;
}

.main .App .message-notification {
  position: absolute;
  top: -20px;
  right: calc(2vw + 80px);
  height: 42px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: grey 0 0 4px;
  z-index: 12;
}

.main .App .message-notification .message-notification-icon {
  margin: auto;
}

.main .App .message-notification:hover {
  background-color: #f7f7f7;
}

@media (max-width: 768px) {
  .main .top-bar .top-bar-content .nav-links {
    grid-template-columns: 1fr 8fr 150px;
  }
  .main .top-bar .top-bar-content h1 {
    font-size: 1.5rem;
  }
  .main .top-bar .top-bar-content .nav-links .fill-2 div p {
    display: none;
  }
  .main .top-bar .top-bar-content .nav-links .fill-2 div .iconas {
    display: block;
  }
  .fill-2 {
    display: none;
  }
}
