// @import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
.main {
	// max-width: 100vw;
	// border: 1px solid blue;
	.top-bar {
		height: 7rem;
		// border: 2px green solid;
		display: flex;
		justify-content: center;
		background-image: url("../../img/bg8.png");
		background-size: cover;
		background-position: center;

		.top-bar-content {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: flex-end;

			flex-grow: 1;
			// border: 2px solid black;
			max-width: 1024px;

			.nav-links {
				font-family: "MuseoModerno", cursive;
				color: white;
				font-weight: 500;
				position: relative;
				display: grid;
				grid-template-columns: 1fr 8fr 200px;

				flex-grow: 1;
				max-width: 100%;
				height: 2rem;
				// border: 1px solid blue;

				.fill-1 {
					display: flex;
					align-items: center;
					// background-color: red;

					.nav-icon {
						cursor: pointer;
					}
				}
				.fill-2 {
					display: flex;
					align-items: center;
					justify-content: space-between;
					div {
						display: flex;
						align-items: center;
						justify-content: center;
						// border: 1px solid white;
						width: 100%;
						// height: 100%;
						margin: auto;
						cursor: pointer;
						.iconas {
							display: none;
						}
					}
				}
			}

			h1 {
				top: 10px;
				left: 20px;
				position: absolute;
				font-family: "MuseoModerno", cursive;
				color: white;
			}
			.exit-icon {
				position: absolute;
				top: 21px;
				right: 0;
				color: grey;
				transition: ease-in-out 0.3s color;
				cursor: pointer;

				&:hover {
					color: rgb(200, 200, 200);
				}
			}
		}
	}
	.App {
		position: relative;
		max-width: 1024px;
		margin: auto;
		// border: 3px solid red;
		.message-notification {
			position: absolute;
			top: -20px;
			right: calc(2vw + 80px);
			height: 42px;
			width: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			background-color: white;
			box-shadow: grey 0 0 2px;
			z-index: 500;
		}
	}
}

@media (max-width: 768px) {
	.main {
		.top-bar {
			.top-bar-content {
				.nav-links {
					grid-template-columns: 1fr 8fr 150px;
				}
				h1 {
					font-size: 1.5rem;
				}
				.nav-links {
					.fill-2 {
						div {
							p {
								display: none;
							}
							.iconas {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	.fill-2 {
		display: none;
	}
}
