.wave-wrap div.waves {
  width: 100%;
  /*height: 100%;*/
  position: absolute;
  z-index: 0;
  top: 680px;
}

.wave-wrap svg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white;
  fill: white;
  animation-name: move-left;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: -2000px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
